{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_filter %}
{%block Titre%}{{title}}{%endblock%}

{% block javascript %}
<script src="{% static 'js/sav/assembly.js' %}?{{10|randomfile}}" defer></script>
{%endblock%}

{%block article%}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3">{{title|safe}}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link " id="schema-tab" data-bs-toggle="tab" data-bs-target="#schema" type="button" role="tab" aria-controls="home" aria-selected="true">Schema</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tracability-tab" data-bs-toggle="tab" data-bs-target="#tracability" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    Traçabilité
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link " id="assembly-tab" data-bs-toggle="tab" data-bs-target="#assembly" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    Montage
                </button>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade " id="schema" role="tabpanel" aria-labelledby="home-tab">
                    <div id="schema"></div>
                </div>
                <div class="tab-pane fade show active" id="tracability" role="tabpanel" aria-labelledby="home-tab">
                    <fieldset class="border p-2 h-100">
                        <legend class="float-none w-auto"><b>Traçabilité</b></legend>
                        <div>
                            <form type="POST" id="tracabilityForm">                            
                                {% crispy tracabilityFormset Helper %}                                   
                                <button class="btn btn-outline-primary me-md-2 " type="button" id="button"><i class="fas fa-plus-circle"></i></button>
                                <button class="btn btn-outline-primary me-md-2 " type="button" id="delete"><i class="fas fa-minus-circle"></i></button>                         
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-outline-primary me-md-2 buttonSave" type="button">Enregister</button>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </div>
                <div class="tab-pane fade" id="assembly" role="tabpanel" aria-labelledby="home-tab">
                    <fieldset class="border p-2 h-100">
                        <legend class="float-none w-auto"><b>Montage</b></legend>
                        <form type="POST">
                            {% crispy assemblyFormset Helper %}                            
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-primary me-md-2 buttonSave" type="button">Enregister</button>
                            </div>
                        </form>
                    </fieldset>
                    <fieldset class="border p-2 h-100">
                        <legend class="float-none w-auto"><b>Validation</b></legend>
                        <form type="POST">
                            {% crispy validationFormset Helper %}                            
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-primary me-md-2 buttonSave" type="button">Enregister</button>
                            </div>
                        <form>
                    </filedset>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDiv" tabindex="-1" aria-labelledby="ModalEvenementLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xl-down modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title" id="ModalEvenementLabel">Traçabilité pour la commande {{CL}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" id= "ButtonModalclose" aria-label="Close"></button>
        </div>
          <form method="post" id="modalForm" enctype="multipart/form-data">
        <div class="modal-body">
          {% crispy tracabilityFormsetMobal HelperTracabilityModal %} 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
          </form>
      </div>
    </div>
  </div>
{{CL.id|json_script:"CLid"}}
{%endblock%}