<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load my_filter %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

        <!-- for jquery -->
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1/jquery-ui.css' %}">

     <!-- for fontawesome -->
<!--    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.2-web/css/all.css' %}">
    <script  src="{% static 'fontawesome-free-5.15.2-web/js/all.min.js' %}"></script>

    <!--Bootstrap5-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>

    <!--For table  https://bootstrap-table.com/-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-table-master/dist/bootstrap-table.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-table-master/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css' %}">
    <script src="{% static 'bootstrap-table-master/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/tableExport.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/dist/extensions/export/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/ajax_lib/jquery.tablednd.min.js' %}"></script>

    <!-- XDSoft DateTimePicker https://xdsoft.net/jqplugins/datetimepicker/-->
    <link rel="stylesheet" type="text/css" href="{% static 'XDSoft-DateTimePicker/jquery.datetimepicker.css' %}">
    <script src="{% static 'XDSoft-DateTimePicker/jquery.datetimepicker.full.min.js' %}"></script>

          {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<!--https://github.com/mervick/emojionearea-->
    {# JQUERY EMOJI PICKER #}
<link rel="stylesheet" href="{% static 'emojionarea/emojionearea.min.css' %}">
<script src="{% static 'emojionarea/emojionearea.min.js' %}"></script>


    <script>
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
$.ajaxSetup({   headers: {  "X-CSRFToken": csrftoken  }  });


<!--const socketmail = new WebSocket('ws://' + window.location.host +-->
<!--        '/ws/mails/all/');-->
<!--        socketmail.onmessage = (e) => {-->
<!--            result = JSON.parse(e.data);-->
<!--            if(result.hasOwnProperty('message')){-->
<!--                $("div.toast-container").prepend(result.message)-->
<!--            }-->
<!--            if(result.hasOwnProperty('nbmail')){-->
<!--                $("#nbmail").html(result.nbmail)-->
<!--            }-->
<!--        }-->

</script>

{% block javascript %}
{%endblock%}


    <title>{%block Titre%}SolisArt{%endblock%}</title>
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
    <style>
.beatanimation {
    animation: beatkey .5s infinite alternate;
}
@keyframes beatkey{
	to { transform: scale(0.85); }
}
.yaxislayer-above {
  cursor: pointer;
  pointer-events: all;
}
.fade {
  transition-duration: 0.5s;
}

.not-allowed{
 cursor: not-allowed! important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
    background-color: #f2f2f2 !important;
}

ul.nav li a.active {
    color: black !important;
    font-weight: bold !important;
    background-color: #f2f2f2 !important;
    border-bottom: 4px solid #17a2b8 !important;
}
.mt-45 {
  margin-top: 2rem!important;
}
    </style>
</head>
<body>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

  </div>
</div>
<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">En cours de téléchargement</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </button>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-white bg-white">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

    </div>
    <div class="mx-auto order-0 {% if debug %}bg-warning rounded{%endif%}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="dropdown-item mt-1 snipperclick" href="{% url 'sav:home' %}" data-bs-container="body" data-bs-toggle="popover" title='Rechercher' data-bs-trigger="hover" data-placement="bottom" data-bs-content='Recherche par utilisateur ou par installation'>
                    <span class="fa-layers fa-fw fa-4x">
                        <i class="far fa-circle text-info" style="color:black"></i>
                        <i class="fa fa-search" data-fa-transform="shrink-8"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item mt-3 snipperclick"
                   href="{% url 'sav:updateDB' %}"
                   data-bs-container="body"
                   data-bs-toggle="popover"
                   title='Import - Export de Données'
                   data-bs-trigger="hover"
                   data-placement="bottom"
                   data-bs-content='Importer les datas depuis MySolisArt
                   Export prix vers site commerciale'>
                    <span class="fa-layers fa-fw fa-4x">
                        <i class="far fa-circle text-info" style="color:black"></i>
                        <i class="fas fa-sync-alt" data-fa-transform="shrink-8"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item mt-4 snipperclick" href="{% url 'sav:production' %}" data-bs-container="body" data-bs-toggle="popover" title='Gestion de production' data-bs-trigger="hover" data-placement="bottom" data-bs-content="Calendrier de cadencement de production">
                    <span class="fa-layers fa-fw fa-4x">
                        <i class="far fa-circle text-info" style="color:black"></i>
                        <i class="fas fa-calendar-check" data-fa-transform="shrink-8"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item mt-45 snipperclick" href="{% url 'sav:ticket' %}" data-bs-container="body" data-bs-toggle="popover" title='Suivi des tickets' data-bs-trigger="hover" data-placement="bottom" data-bs-content='Suivi des tickets'>
                    <span class="fa-layers fa-fw fa-4x">
                        <i class="far fa-circle text-info" style="color:black"></i>
                        <i class="fa fa-inbox" data-fa-transform="shrink-8"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item mt-4 snipperclick" href="{% url 'sav:map' %}" data-bs-container="body" data-bs-toggle="popover" title='Map' data-bs-trigger="hover" data-placement="bottom" data-bs-content='Localisation de toutes les installations'>
                    <span class="fa-layers fa-fw fa-4x">
                        <i class="far fa-circle text-info" style="color:black"></i>
                        <i class="fas fa-map-marker-alt" data-fa-transform="shrink-8"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item mt-3 snipperclick" href="{% url 'sav:statistiques' %}" data-bs-container="body" data-bs-toggle="popover" title='Statistiques' data-bs-trigger="hover" data-placement="bottom" data-bs-content='Statistiques'>
                    <span class="fa-layers fa-fw fa-4x">
                        <i class="far fa-circle text-info" style="color:black"></i>
                        <i class="fas fa-chart-bar" data-fa-transform="shrink-8"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item mt-1 snipperclick" href="{% url 'sav:bibliotheque' %}" data-bs-container="body" data-bs-toggle="popover" title='Bibliothèque' data-bs-trigger="hover" data-placement="bottom" data-bs-content='Bibliothèque'>
                    <span class="fa-layers fa-fw fa-4x">
                        <i class="far fa-circle text-info" style="color:black"></i>
                        <i class="fas fa-book" data-fa-transform="shrink-8"></i>
                    </span>
                </a>
            </li>
        </ul>

    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if user.is_authenticated %}
        <div class="dropdown float-right">
              <button type="button" class="btn btn-outline-primary dropdown-toggle m-3" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="far fa-user x-2"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'sav:utilisateur' pk=user.id %}"><b><i class="fas fa-user"></i> {{user.first_name}} {{user.last_name}}</b></a></li>
                <li><a class="dropdown-item" href="{% url 'password_reset' %}"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Modifier le mot de passe</a></li>
                <a class="dropdown-item" href="/logout/"><i class="fas fa-sign-out-alt"></i> Déconnection</a>
              </ul>
        </div>
        {%endif%}
            </li>
        </ul>
    </div>
</nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12" id="alertMessageId">
            <br>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error'%}danger{%else%}success{%endif%} alert-dismissible fade show" role="alert">
                  {{ message|safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  <script>
                        $(".alert-success").fadeTo(4000, 500).slideUp(500, function() {
                            $(".alert-success").alert('close')
                        })
                  </script>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
    <article id="article">

        {%block article%}
        {%endblock%}
        {%block frame %}
        {%endblock%}
        {%block content %}
        {%endblock%}

<div class="toast-container position-absolute bottom-0 end-0 p-3">

</div>

    </article>
<script>
    $(".snipperclick").on('click', function(){
        $("#modal-progress").find(".modal-title").html("<h4>En cours de travail...</h4>")
        $("#modal-progress").find(".modal-body").css({ opacity: 0.5 })
        $("#modal-progress").find(".modal-body").addClass("text-center")
        $("#modal-progress").find(".modal-body").html("<i class='fas fa-spinner fa-pulse fa-10x text-primary'></i>")
        $("#modal-progress").modal('show')
    })
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
</script>


</body>
</html>