<!DOCTYPE html>
{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{%block Titre%}{{title}}{%endblock%}

{%block article%}


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">{{title}}</h1>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset class="border p-2 h-100">
                                <legend class="float-none w-auto"><b>Recherche par Utilisateur</b></legend>
                                <div class="input-group mb-3">
                                  <div class="form-floating flex-grow-1">
                                    <input type="text" class="form-control" name="telephone" id="telephone" aria-label="telephone" placeholder="tutu">
                                    <label for="telephone">Téléphone</label>
                                  </div>
                                  <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-floating flex-grow-1">
                                        <input type="text" class="form-control" name="prenom" id="prenom" aria-label="prenom" placeholder="tutu">
                                        <label for="prenom">Prénom</label>
                                    </div>
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-floating flex-grow-1">
                                        <input type="text" class="form-control" name="nom" id="nom" aria-label="nom" placeholder="tutu">
                                        <label for="nom">Nom</label>
                                    </div>
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-floating flex-grow-1">
                                        <input type="text" class="form-control" name="email" id="email" aria-label="email" placeholder="tutu">
                                        <label for="email">Email</label>
                                    </div>
                                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                                </div>

                        </fieldset>
                        </form>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <fieldset class="border p-2 h-100">
                                        <legend class="float-none w-auto"><b>Recherche par Installation</b></legend>
                                        <div class="input-group mb-3">
                                            <div class="form-floating flex-grow-1">
                                                <input type="text" class="form-control" name="id_instal" id="id_instal" aria-label="Nom client" placeholder="tutu">
                                                <label for="id_instal">Module</label>
                                            </div>
                                          <span class="input-group-text"><i class="fas fa-box"></i></span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="form-floating flex-grow-1">
                                                <input type="text" class="form-control" name="code_postale_install" id="id_code_postale_install" aria-label="Nom client" placeholder="tutu">
                                                <label for="id_code_postale_install">Code postale</label>
                                            </div>
                                          <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="form-floating flex-grow-1">
                                          <input type="text" class="form-control" name="ville_install" id="id_ville_install" aria-label="Nom client" placeholder="tutu">
                                                <label for="id_ville_install">Ville</label>
                                            </div>
                                          <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>

                                </fieldset>
                            </form>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="resultat"></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#id_instal, #telephone, #prenom, #nom, #email, #id_code_postale_install, #id_ville_install").on("keypress", function(e) {
         var key = e.which;
         if(key == 13)  // the enter key code
          {
            var t = $(this)
            send(t)
          }
    })

})
function send(t){
    $("#resultat").html('<h1 class="text-center m-3" style="font-size: 8em; color:yellow"><i class="fas fa-sun fa-spin" style="{color:yellow}"></i></h1>')
    if (t.val().length>2){
          var form = t.closest("form");
          $.ajax({
            url: window.location.href,
            type:'post',
            data: form.serialize(),
            dataType: 'html',
            success: function (html) {
                $("#resultat").html()
                $("#resultat").html(html)
                }
          })
    }
}
</script>

{%endblock%}