<!DOCTYPE html>
{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load my_filter %}
{%block Titre%}Email{%endblock%}

{%block article%}
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3">Ouvrir un ticket depuis la boîte mail sav</h1>
            <table
                    data-toolbar="#toolbar"
                    data-toggle="table"
                    data-search="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-show-refresh="false"
                    data-show-fullscreen="true"
                    data-show-export="true"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-pagination="true"
                    data-filter-control="true"
                    data-show-search-clear-button="true">
                <thead>
                    <th class="text-center">Date</th>
                    <th class="text-center">Expéditeur</th>
                    <th class="text-center">Objet</th>
                    <th class="text-center">Corps</th>
                    <th>Répondre</th>
                </thead>
                <tbody>
                    {% for e in emails %}
                    <tr>
                        <td>{{e.date|date:"d-m-Y"}} {{e.date|time:"H:i"}}</td>
                        <td>{% if e.from_user %}{{e.from_user.icon|safe}} {% endif %}{{e.de}}</td>
                        <td>{{e.subject}}</td>
                        <td>{{e.text|safe|make_list|slice:'0:200'|join:''}} ...</td>
                        <td>
                            <div class="text-center">
                                <i class="fas fa-reply" data-bs-toggle="modal" data-bs-target="#modal" onclick="modalbody({{e.id}})"></i>
                            </div>
                        </td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
function modalbody(id){
    $('#modal-content').html()
    $('#modal-content').html('<h1 class="text-center m-3" style="font-size: 8em; color:yellow"><i class="fas fa-sun fa-spin" style="{color:yellow}"></i></h1>')
    $.ajax({
        url: window.location.href,
            type:'post',
            data: {id:id, 'createticket':'ok'},
            dataType: 'html',
            success: function (html) {
                $('#modal-content').html(html)
            }
    })
}
</script>
{%endblock%}