<!DOCTYPE html>
{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_filter %}
{%block Titre%}{{title}}{%endblock%}

{% block javascript %}
<!--lien pour leaflet -->
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<!--lien pour leaflet regroup marker-->
<link rel="stylesheet" href="{% static 'Leaflet.markercluster-1.4.1/dist/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css' %}" />
<script src="{% static 'Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js' %}"></script>
{%endblock%}

{%block article%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3">{{title}}</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-9">
            <form>{% csrf_token %}
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search-location"></i></span>
                  <input type="text" name="adresse" class="form-control" id='adresse' placeholder="adresse" aria-label="Username" aria-describedby="basic-addon1">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">Rechercher</button>
                </div>
            </form>
            <div id="map" style="height: 800px"></div>
        </div>
        <div class="col-3">
            <ul id="list_profil"></ul>
        </div>
    </div>
</div>
{{ profils|json_script:'profils' }}
<script>

const fontAwesomeIcon = L.divIcon({
    html: '<span class="fa-layers fa-fw fa-4x" style="vertical-align: top;"><i class="fas fa-map-marker text-primary" style="color:black"></i><i class="fas fa-solar-panel fa-inverse" data-fa-transform="shrink-10"></i></span>',
    iconSize: [20, 20],
    iconAnchor: [30, 40],
    className: 'myDivIcon'
});
const fontAwesomeIconInstallateur = L.divIcon({
    html: '<i class="fas fa-map-marker-alt text-success fa-4x"></i>',
    iconSize: [20, 20],
    iconAnchor: [30, 40],
    className: 'myDivIcon'
});
const mymap = L.map('map').setView([45, 0],6);
            L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{maxZoom: 20,subdomains:['mt0','mt1','mt2','mt3']}).addTo(mymap);

var markersCluster = new L.MarkerClusterGroup();

function ajoutDepartement(value, color){
    myStyle={'color':color}
    L.geoJSON(value, {
        style:myStyle
    }).addTo(mymap)
}
function onEachFeature(feature, layer) {
    // does this feature have a property named popupContent?
    if (feature.properties && feature.properties.popupContent) {
        layer.bindPopup(feature.properties.popupContent);
    }
}
function generate_marker(start, stop){
$.ajax({
            url: window.location.href,
            type:'post',
            dataType: 'json',
            data: 'start=' + start + '&stop=' + stop,
            success: function (json) {
                    L.geoJSON(json, {
                        onEachFeature: onEachFeature,
                        pointToLayer: function (feature, latlng) {
                            return L.marker(latlng, { icon: fontAwesomeIcon});
                        },
                        filter: function(feature, layer) {
                            return feature.properties.show_on_map;
                        }
                    }).addTo(markersCluster);
                }
          })

mymap.addLayer(markersCluster);

}

async function load() {
        var install_total = {{install_total}}
        var compter=0
        var start =0
        while(install_total>compter){
            compter=compter+100
            generate_marker(start, compter)
            start=compter
        }
        let url = '{% static "sav/geojson/geojsonFrance.json" %}';
        let geojsonFrance = await (await fetch(url)).json();
        color=["blue", "gray", "green", "red", "orange", "pink", "cyan", "red", "orange"]
        const profils = JSON.parse(document.getElementById('profils').textContent);
        $.each(JSON.parse(profils), function(k, v){
            $("#list_profil").append('<li style="color:' + v.color + '">'+v.user+ ' '+ v.telephone1 + '</li>')
        })
        $.each( geojsonFrance.features, function( key, value ) {
          $.each(JSON.parse(profils), function(k, v){
            if(v.departement.includes(value.properties.code)){
                ajoutDepartement(value, v.color)
            }
          })
        });

        let url2 = '{% static "sav/geojson/geojsonbelgique.json" %}';
        let geojsonBelgique = await (await fetch(url2)).json();
            $.each(JSON.parse(profils), function(k, v){
            if(v.departement.includes("100")){
                ajoutDepartement(geojsonBelgique, v.color)
            }
          })

}

window.onload = load();

function search(){
    var form = $('#adresse').closest("form");
          $.ajax({
            url: window.location.href,
            type:'post',
            data: form.serialize(),
            dataType: 'html',
            success: function (html) {
                data = JSON.parse(html)
                var lat = data[0].lat
                var lon = data[0].lon
                var geojson = data[0].geojson
                L.geoJSON(geojson).addTo(mymap)
                mymap.setView(new L.LatLng(lat, lon), 12);
                }
          })

}

$('#adresse').keypress(function (e) {
 var key = e.which;
 if(key == 13)  // the enter key code
  {
    search();
    return false;
  }
});
</script>



{%endblock%}