<!DOCTYPE html>
{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_filter %}
{%block Titre%}{{title}}{%endblock%}

{% block javascript %}
<!--lien pour leaflet -->
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<!--lien pour leaflet regroup marker-->
<link rel="stylesheet" href="{% static 'Leaflet.markercluster-1.4.1/dist/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css' %}" />
<script src="{% static 'Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js' %}"></script>
{%endblock%}

{%block article%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3">{{title}}</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-9">
            <form>{% csrf_token %}
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search-location"></i></span>
                  <input type="text" name="adresse" class="form-control" id='adresse' placeholder="adresse" aria-label="Username" aria-describedby="basic-addon1">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">Rechercher</button>
                </div>
            </form>
            <div id="map" style="height: 800px"></div>
        </div>
        <div class="col-3">
            <li style="color:blue">Sébastien Nonglaton 06 04 59 51 47</li>
            <li style="color:gray">Eric Delangre 06 62 46 52 13</li>
            <li style="color:green">Hervé Durand 06 35 55 10 95</li>
            <li style="color:red">Valentin Le Corre 06 61 81 07 01 (208)</li>
            <li style="color:orange">Maxime Maisonneuve 07 60 61 83 70 (211)</li>
            <li style="color:pink">Vistor Péré 07 62 67 38 13(205)</li>
            <li style="color:yellow">Franck Foissey 06 82 89 69 18</li>
            <li style="color:cyan">Yvan Peneau 07 88 37 32 68</li>
            <li style="color:purple">Claude Clavareau 06 12 64 20 72</li>
        </div>
    </div>
</div>

<script>

const fontAwesomeIcon = L.divIcon({
    html: '<span class="fa-layers fa-fw fa-4x" style="vertical-align: top;"><i class="fas fa-map-marker text-primary" style="color:black"></i><i class="fas fa-solar-panel fa-inverse" data-fa-transform="shrink-10"></i></span>',
    iconSize: [20, 20],
    iconAnchor: [30, 40],
    className: 'myDivIcon'
});
const fontAwesomeIconInstallateur = L.divIcon({
    html: '<i class="fas fa-map-marker-alt text-success fa-4x"></i>',
    iconSize: [20, 20],
    iconAnchor: [30, 40],
    className: 'myDivIcon'
});
const mymap = L.map('map').setView([45, 0],6);
            L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{maxZoom: 20,subdomains:['mt0','mt1','mt2','mt3']}).addTo(mymap);

var markersCluster = new L.MarkerClusterGroup();

function ajoutDepartement(value, color){
    myStyle={'color':color}
    L.geoJSON(value, {
        style:myStyle
    }).addTo(mymap)
}
function onEachFeature(feature, layer) {
    // does this feature have a property named popupContent?
    if (feature.properties && feature.properties.popupContent) {
        layer.bindPopup(feature.properties.popupContent);
    }
}
function generate_marker(start, stop){
$.ajax({
            url: window.location.href,
            type:'post',
            dataType: 'json',
            data: 'start=' + start + '&stop=' + stop,
            success: function (json) {
                    L.geoJSON(json, {
                        onEachFeature: onEachFeature,
                        pointToLayer: function (feature, latlng) {
                            return L.marker(latlng, { icon: fontAwesomeIcon});
                        },
                        filter: function(feature, layer) {
                            return feature.properties.show_on_map;
                        }
                    }).addTo(markersCluster);
                }
          })

mymap.addLayer(markersCluster);

}

async function load() {
        var install_total = {{install_total}}
        var compter=0
        var start =0
        while(install_total>compter){
            compter=compter+100
            generate_marker(start, compter)
            start=compter
        }
        let url = '{% static "sav/geojson/geojsonFrance.json" %}';
        let geojsonFrance = await (await fetch(url)).json();
        $.each( geojsonFrance.features, function( key, value ) {
          if(["73", "74", "01"].includes(value.properties.code)){
            ajoutDepartement(value, "blue")
          }else if(["95", "78", "91", "92", "75", "94", "93", "77", "50", "14", "61", "76", "27", "62", "80", "60", "59", "02", "28", "60"].includes(value.properties.code)){
            ajoutDepartement(value, "gray")
          }else if(["87", "23", "19", "03", "63", "15", "48", "43", "42"].includes(value.properties.code)){
            ajoutDepartement(value, "green")
          }else if(["41", "45", "36", "18", "08", "51", "10", "55", "52", "57", "54", "88", "67", "68", "90", "07", "30", "84", "13", "04", "83", "06", "2B", "2A"].includes(value.properties.code)){
            ajoutDepartement(value, "red")
          }else if(["69", "38", "26", "05"].includes(value.properties.code)){
            ajoutDepartement(value, "orange")
          }else if(["17", "16", "33", "24", "40", "47", "46", "64", "32", "82", "12", "31", "81", "09", "11", "34", "66", "65"].includes(value.properties.code)){
             ajoutDepartement(value, "pink")
          }else if(["29", "22", "56", "35", "53", "72", "44", "49", "37", "85", "79", "86"].includes(value.properties.code)){
            ajoutDepartement(value, "cyan")
          }else if(["41", "45", "36", "18", "08", "51", "10", "55", "52", "57", "54", "88", "67", "68", "90", "07", "30", "84", "13", "04", "83", "06"].includes(value.properties.code)){
            ajoutDepartement(value, "red")
          }else if(["89", "58", "21", "71", "70", "25", "39"].includes(value.properties.code)){
            ajoutDepartement(value, "orange")
          }
        });
        let url2 = '{% static "sav/geojson/geojsonbelgique.json" %}';
        let geojsonBelgique = await (await fetch(url2)).json();
            ajoutDepartement(geojsonBelgique, "purple")

}

window.onload = load();

function search(){
    var form = $('#adresse').closest("form");
          $.ajax({
            url: window.location.href,
            type:'post',
            data: form.serialize(),
            dataType: 'html',
            success: function (html) {
                data = JSON.parse(html)
                var lat = data[0].lat
                var lon = data[0].lon
                var geojson = data[0].geojson
                L.geoJSON(geojson).addTo(mymap)
                mymap.setView(new L.LatLng(lat, lon), 12);
                }
          })

}

$('#adresse').keypress(function (e) {
 var key = e.which;
 if(key == 13)  // the enter key code
  {
    search();
    return false;
  }
});
</script>



{%endblock%}