{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_filter %}

{% block javascript %}
<!--library ici: https://www.cssscript.com/svg-gantt-chart-frappe/-->
<link rel="stylesheet" href="{% static 'gantt-master/gantt-master/dist/frappe-gantt.css' %}" />
<script src="{% static 'gantt-master/gantt-master/dist/frappe-gantt.js' %}"></script>
<script src="{% static 'jquery/jquery.doubleScroll.js' %}"></script>
<script src="{% static 'js/sav/production.js' %}?{{10|randomfile}}" defer></script>
{%endblock%}

{%block Titre%}{{title}}{%endblock%}

{%block article%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3">{{title}}</h1>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDiv" tabindex="-1" aria-labelledby="ModalEvenementLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header bg-warning">
                            <h5 class="modal-title" id="ModalEvenementLabel">New message</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" id= "ButtonModalclose" aria-label="Close"></button>
                          </div>
                            <form method="post" id="modalForm" enctype="multipart/form-data">
                          <div class="modal-body">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-outline-primary" id="enregistrer" name="tutu">Ajouter</button>
                          </div>
                            </form>
                        </div>
                      </div>
                    </div>
<div class="container p-3">
    <div class="row">
      
      {% if request.user|has_group:"ADV" %}
        <div class="col-4">
            <div class="input-group">
              <label class="input-group-text" for="date_information"><i class="fas fa-not-equal"></i></label>
              <input type="text" name="date_information" value="" class="xdsoftdatetimepickerinput form-control" placeholder="date_end" required="" id="date_information">
              <button class="btn btn-outline-secondary" type="button" onclick="CheckUpdateInformation()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Afficher</button>
            </div>
        </div>
        <div class="col-4">
            <form id="formCL" >
            <div class="input-group">
              <label class="input-group-text" for="numCL"><i class="fas fa-cart-plus"></i></label>
              <select
                      class="form-select"
                      name ="numCL"
                      id="numCL"
                      aria-label="Example select with button addon"
                      onchange="descriptionCL()"
                      disabled
              >
                <option selected>Ajouter une commande</option>
                  {% for CL in heraklesCLs %}
                <option value="{{CL}}">{{CL}}</option>
                  {%endfor%}
              </select>
            </div>
            </form>
        </div>
        <div class="col-2">
            
            <button class="btn btn-outline-primary" type="button" onclick="save()" id="ButtonSave"><i class="far fa-save"></i> Sauvegarder</button>
            {%endif%}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="input-group">
              <label class="input-group-text" for="client"><i class="fas fa-search"></i></label>
              <select
                      class="form-select"
                      onchange="searchByCustomer()"
                      id="client"
              >
                <option value="tout" selected>Par Client</option>
                  {% for client in clients %}
                <option value="{{client.Code_Client}}">{{client.Nom}}</option>
                  {%endfor%}
              </select>
            </div>

        </div>
        <div class="col-2">
            <div class="input-group">
              <label class="input-group-text" for="commercial"><i class="fas fa-search"></i></label>
              <select
                      class="form-select"
                      onchange="searchByCommercial()"
                      id="commercial"
              >
                <option value="tout" selected>Par Commerciaux</option>
                  {% for commercial in commerciaux %}
                <option value="{{commercial}}">{{commercial}}</option>
                  {%endfor%}
              </select>
            </div>

        </div>
                <div class="col-2">

            <div class="input-group">
              <label class="input-group-text" for="VisuCL"><i class="fas fa-search"></i></label>
              <select
                      class="form-select"
                      aria-label="Example select with button addon"
                      id="VisuCL"
                      onchange="ganttGenerator()"
              >
                <option value="tout" selected>Visualiser tous les CL</option>
                  {% for CL in CLs %}
                <option value="{{CL}}">{{CL}} - {{CL.installateur}}</option>
                  {%endfor%}
              </select>
            </div>

        </div>
        <div class="col-2">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-calendar-week"></i></label>
              <select class="form-select" id="inputGroupSelect01" onchange="myChart.change_view_mode($(this).val())">
                <option selected value="Day">Zoom 1</option>
                <option value="Week">Zoom 2</option>
                <option value="Month">Zoom 3</option>
                <option value="Year">Zoom 4</option>
              </select>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group mb-3">
              <label class="input-group-text" for="step"><i class="fas fa-filter"></i></label>
              <select class="form-select" id="step" onchange="ganttGenerator()">
                {% if request.user|has_group:"ADV" %}<option selected value="simple">Simplifié</option>{%endif%}
                {% if request.user|has_group:"ADV" %}<option value="tout">Tout</option>{%endif%}
                {% if request.user|has_group:"ADV,Prépa" %}<option value="capteur">Capteur</option>{%endif%}
                {% if request.user|has_group:"ADV,Prépa" %}<option value="ballon">Ballon</option>{%endif%}
                {% if request.user|has_group:"ADV,Monteur" %}<option value="montage">Montage</option>{%endif%}
                {% if request.user|has_group:"ADV,Carte" %}<option value="carte">Carte</option>{%endif%}
                {% if request.user|has_group:"ADV,Prépa" %}<option value="prepa">Prépa commande</option>{%endif%}
                {% if request.user|has_group:"ADV,Expé" %}<option value="expe">Expédition</option>{%endif%}
                {% if request.user|has_group:"ADV" %}<option value="livraison">Livraison</option>{%endif%}
                {% if request.user|has_group:"ADV" %}<option value="reglement">Réglement</option>{%endif%}
              </select>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group mb-3">
              <label class="input-group-text" for="step"><i class="fas fa-filter"></i></label>
              <select class="form-select" id="Todo" onchange="ganttGenerator()">
                <option value="all">Tout</option>
                <option selected value="todo">A faire</option>
                <option value="done">Soldé</option>
              </select>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex">
                <p>
                    Vue Gantt
                </p>
                <div class="form-check form-switch form-check-inline">
                  <input class="form-check-input float-end"
                         type="checkbox"
                         role="switch"
                         id="ganttVstableur"
                         onchange="ganttGenerator()" >
                </div>
                <p>
                  Vue Tableur
                </p>
            </div>
            <div id="ganttContainer" class="gantt-container">
                <h1 class="text-center"><i class="fas fa-sun fa-spin fa-5x" style="color:yellow"></i></h1>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-absolute top-0 end-0">
    <div class="p-3" style="z-index: 11">
      <div id="liveToast" class="toast" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="5000">
          <div role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="{% static 'image/favicon.ico' %}" class="rounded me-2" alt="...">
              <strong class="me-auto">Solistools</strong>
              <small id="toastSmall"></small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
          </div>
      </div>
    </div>
</div>
{{request.user.group_name|json_script:"group_user"}}
{{pkCL|json_script:"pkCL"}}
{%endblock%}