<!DOCTYPE html>
{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_filter %}

{% block javascript %}
<script src="{% static 'js/sav/statistiques.js' %}?{{10|randomfile}}" defer></script>
{%endblock%}

{%block Titre%}Statistiques{%endblock%}

{%block article%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3">Statistiques - Analyses</h1>
            <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#stat_temp" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="far fa-chart-bar"></i><br> Statistiques temporelles</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#stat_corre" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-chart-pie"></i><br> Statistiques Symptômes/causes</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-BL-tab" data-bs-toggle="pill" data-bs-target="#stat_BL" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-truck"></i><br> Statistiques BL</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-NC-tab" data-bs-toggle="pill" data-bs-target="#stat_NC" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-book-dead"></i><br> Statistiques NC</button>
              </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="stat_temp" role="tabpanel" aria-labelledby="pills-home-tab">
                <h1 class="m-3">Statistiques temporelles</h1>
                <form id="formVisualisertempo" method="post">{% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="form-floating flex-grow-1">
                            <select class="form-select" id="inputGroupSelect02" name="field">
                                <option value="forme">Téléphone/email</option>
                                <option value="probleme">Problématique</option>
                                <option value="cause">Cause</option>
                                <option value="profil_type">Proprio/Installateur</option>
                            </select>
                            <label for="inputGroupSelect02">Champs</label>
                        </div>
                        <div class="form-floating flex-grow-1">
                              <select class="form-select" id="inputGroupSelect01" name="frequence">
                                <optgroup label="Répartition">
                                    <option value="heure">journalière</option>
                                    <option value="Rjour">hebdomadaire</option>
                                </optgroup>
                                <optgroup label="Répartition par">
                                <option value="jour">Jour</option>
                                <option value="semaine" selected>Semaine</option>
                                <option value="mois">Mois</option>
                                </optgroup>
                              </select>
                            <label for="inputGroupSelect01">Fréquence</label>
                        </div>
                        <div class="form-floating flex-grow-1">
                      <input type="number"
                             id="inputGroupSelect03"
                             class="form-control"
                             placeholder="période en jours"
                             value="120"
                             min=0
                             aria-label="Recipient's username"
                             aria-describedby="button-addon2"
                            name="periode">
                            <label for="inputGroupSelect03">Période</label>
                        </div>
                        <span class="input-group-text" for="inputGroupSelect03">jours</span>
                      <button class="btn btn-outline-secondary" type="button" id="button-form" onclick="visualiser(this)">Visualiser</button>
                      <button class="btn btn-outline-secondary" type="submit" id="button-form-csv" name="download_csv"><i class="fas fa-cloud-download-alt"></i> CSV</button>
                    </div>
                </form>
                <div id="tickets_chart">{{tickets_chart|safe}}</div>
                <div id="sunburst">{{sunburst|safe}}</div>
            </div>
            <div class="tab-pane fade" id="stat_corre" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container">
                    <div class="row">
                        <h1 class="m-3">Statistiques Symptômes/causes</h1>
                        <form id="formVisualiser" method="POST">{% csrf_token %}
                            {% crispy stattableauform %}
                            <div class="float-end">
                                <div class="input-group mb-3">
                                    <div class="form-floating flex-grow-1">
                                        <select class="form-select" id="inputGroupSelect04" name="repartition">
                                          <optgroup label="Répartition par Probleme-cause">
                                              <option value="pb">Problème-cause</option>
                                              <option value="annuel"> Problème-cause Annuelle Non pondéré</option>
                                              <option value="annuelP">Problème-cause Annuelle Pondéré</option>
                                            </optgroup>
                                            <optgroup label="Répartition par type de profil">
                                              <option value="acces">Propriétaire/installateur</option>
                                              <option value="accesannuel"> Propriétaire/installateur Annuelle Non pondéré</option>
                                              <option value="accesannuelP">Propriétaire/installateur Annuelle Pondéré</option>
                                            </optgroup>
                                        </select>
                                        <label for="inputGroupSelect04">Répartition</label>
                                    </div>
                                    <input type="hidden" name="pbcause">
                                  <button class="btn btn-outline-secondary" type="button" id="button-form2" name="pbcause" onclick="visualiser(this)"><i class="fas fa-chart-pie"></i> Graphique</button>
                                  <button type="button" id="buttongeneretableau" class="btn btn-outline-secondary" onclick="genetableau(this)"><i class="fas fa-table"></i> Tableau</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div id="sunburst2" style="height: 500px;">{{sunburst2|safe}}</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="stat_BL" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="m-3">Statistiques sur les BL</h1>
                            <form id="form_BL">
                                <div class="row">
                                    <div class="col-6">
                                        <div id="div_id_date_start_BL" class="form-floating mb-3"> <input type="text" name="date_start_BL" value="" class="xdsoftdatetimepickerinput form-control" placeholder="date_start" required="" id="id_date_start">

                                            <label for="div_id_date_start_BL">Date de Départ</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div id="div_id_date_end_BL" class="form-floating mb-3">
                                            <input type="text" name="date_end_BL" value="" class="xdsoftdatetimepickerinput form-control" placeholder="date_end" required="" id="id_date_end">
                                        <label for="id_date_end">Date de fin</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-secondary" name="stat_BL" onclick="refreshBLStat(this)">Visualiser</button>
                            </form>
                        </div>
                        <div class="col-12 m-3">
                            {{ ArticlesBl|json_script:"data1" }}
                            <table
                                    id="table"
                                    data-show-footer="true"
                                    data-footer-style="footerStyle"
                                    data-row-style="rowStyle"
                                    data-search="true"
                                    data-show-columns="true"
                                    data-show-multi-sort="true">
                                <thead>
                                    <th class="text-center" data-field="codouv" data-footer-formatter="codouvFooter" data-sortable="true">Ref</th>
                                    <th class="text-center" data-field="codeof" data-sortable="true">BL</th>
                                    <th class="text-center" data-field="titre" data-sortable="true">Titre</th>
                                    <th class="text-center" data-field="qtet" data-sortable="true">Quantité</th>
                                    <th class="text-center" data-field="remisepct" data-footer-formatter="remiseFooter" data-formatter="pctFormatter" data-sortable="true">Remise (%)</th>
                                    <th class="text-center" data-field="total" data-footer-formatter="totalFooter" data-formatter="priceFormatter" data-sortable="true">Total</th>
                                    <th class="text-center" data-field="totalremise" data-formatter="priceFormatter" data-sortable="true">Total remisé</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="stat_NC" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                    <h1>Statistique sur les non-conformités</h1>
                    <table
                                    id="tableNC"
                                    data-toggle="table"
                                    data-ajax="ajaxRequest"
                                    data-search="true"
                                    data-show-columns="true"
                                    data-show-multi-sort="true">
                                <thead>
                                    <th class="text-center" data-field="numero"  data-sortable="true">Numéro</th>
                                    <th class="text-center" data-field="date"  data-formatter="dateFormat" data-sortable="true">Date</th>
                                    <th class="text-center" data-field="ref_herakles" data-sortable="true">Matériel</th>
                                    <th class="text-center" data-field="avoir" data-formatter="avoirFormat" data-sortable="true">Avoir</th>
                                </thead>
                            </table>
                  </div>
              </div>
            </div>
          </div>
        </div>  
    </div>
</div>
{%endblock%}