<!DOCTYPE html>
{% extends "sav/base.html" %}
{% load crispy_forms_tags %}

{%block Titre%}Statistiques{%endblock%}

{%block article%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3">Statistiques - Analyses</h1>
            <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#stat_temp" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="far fa-chart-bar"></i><br> Statistiques temporelles</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#stat_corre" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-chart-pie"></i><br> Statistiques Symptômes/causes</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-BL-tab" data-bs-toggle="pill" data-bs-target="#stat_BL" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-truck"></i><br> Statistiques BL</button>
              </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="stat_temp" role="tabpanel" aria-labelledby="pills-home-tab">
                <h1 class="m-3">Statistiques temporelles</h1>
                <form id="formVisualisertempo" method="post">{% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="form-floating flex-grow-1">
                            <select class="form-select" id="inputGroupSelect02" name="field">
                                <option value="forme">Téléphone/email</option>
                                <option value="probleme">Problématique</option>
                                <option value="cause">Cause</option>
                                <option value="profil_type">Proprio/Installateur</option>
                            </select>
                            <label for="inputGroupSelect02">Champs</label>
                        </div>
                        <div class="form-floating flex-grow-1">
                              <select class="form-select" id="inputGroupSelect01" name="frequence">
                                <optgroup label="Répartition">
                                    <option value="heure">journalière</option>
                                    <option value="Rjour">hebdomadaire</option>
                                </optgroup>
                                <optgroup label="Répartition par">
                                <option value="jour">Jour</option>
                                <option value="semaine" selected>Semaine</option>
                                <option value="mois">Mois</option>
                                </optgroup>
                              </select>
                            <label for="inputGroupSelect01">Fréquence</label>
                        </div>
                        <div class="form-floating flex-grow-1">
                      <input type="number"
                             id="inputGroupSelect03"
                             class="form-control"
                             placeholder="période en jours"
                             value="120"
                             min=0
                             aria-label="Recipient's username"
                             aria-describedby="button-addon2"
                            name="periode">
                            <label for="inputGroupSelect03">Période</label>
                        </div>
                        <span class="input-group-text" for="inputGroupSelect03">jours</span>
                      <button class="btn btn-outline-secondary" type="button" id="button-form" onclick="visualiser(this)">Visualiser</button>
                      <button class="btn btn-outline-secondary" type="submit" id="button-form-csv" name="download_csv"><i class="fas fa-cloud-download-alt"></i> CSV</button>
                    </div>
                </form>
                <div id="tickets_chart">{{tickets_chart|safe}}</div>
                <div id="sunburst">{{sunburst|safe}}</div>
            </div>
            <div class="tab-pane fade" id="stat_corre" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container">
                    <div class="row">
                        <h1 class="m-3">Statistiques Symptômes/causes</h1>
                        <form id="formVisualiser" method="POST">{% csrf_token %}
                            {% crispy stattableauform %}
                            <div class="float-end">
                                <div class="input-group mb-3">
                                    <div class="form-floating flex-grow-1">
                                        <select class="form-select" id="inputGroupSelect04" name="repartition">
                                            <optgroup label="Répartition annuelle">
                                                <option value="annuel"> Annuelle Non pondéré</option>
                                                <option value="annuelP">Annuelle Pondéré</option>
                                            </optgroup>
                                            <optgroup label="Répartition par type de profil">
                                                <option value="acces">Propriétaire/installateur</option>
                                            </optgroup>
                                        </select>
                                        <label for="inputGroupSelect04">Répartition</label>
                                    </div>
                                    <input type="hidden" name="pbcause">
                                  <button class="btn btn-outline-secondary" type="button" id="button-form2" name="pbcause" onclick="visualiser(this)"><i class="fas fa-chart-pie"></i> Graphique</button>
                                  <button type="button" id="buttongeneretableau" class="btn btn-outline-secondary" onclick="genetableau(this)"><i class="fas fa-table"></i> Tableau</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div id="sunburst2" style="height: 500px;">{{sunburst2|safe}}</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="stat_BL" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="m-3">Statistiques sur les BL</h1>
                            <form id="form_BL">
                                <div class="row">
                                    <div class="col-6">
                                        <div id="div_id_date_start_BL" class="form-floating mb-3"> <input type="text" name="date_start_BL" value="" class="xdsoftdatetimepickerinput form-control" placeholder="date_start" required="" id="id_date_start">
                                        <script>
                                          $(function () {
                                            var today = new Date();
                                            today.setDate(today.getDate() - 30)
                                            var date = (today.getDate())+'-'+(today.getMonth()+1)+ '-'+ today.getFullYear()+ ' ' + today.getHours()+ ':' + today.getMinutes();
                                            $("input[name='date_start_BL']").val(today.
                                                      toLocaleString('fr-fr', {year: 'numeric', month: '2-digit', day: '2-digit'}).
                                                      replace(/(\d+)\/(\d+)\/(\d+)/, '$1-$2-$3') + " " + today.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" }))
                                            $("input[name='date_start_BL']").datetimepicker({
                                              format: 'd-m-Y H:i'
                                            }
                                            );
                                          });
                                          $("input[name='date_start_BL']").val($("input[name='date_start_BL']").val().substring(0,16).replace('\/', '-').replace('\/', '-'))
                                        </script>
                                            <label for="div_id_date_start_BL">Date de Départ</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div id="div_id_date_end_BL" class="form-floating mb-3">
                                            <input type="text" name="date_end_BL" value="" class="xdsoftdatetimepickerinput form-control" placeholder="date_end" required="" id="id_date_end">
                                        <script>
                                          $(function () {
                                            var today = new Date();
                                            var date = (today.getDate())+'-'+(today.getMonth()+1)+ '-'+ today.getFullYear()+ ' ' + today.getHours()+ ':' + today.getMinutes();
                                             $("input[name='date_end_BL']").val(today.
                                                      toLocaleString('fr-fr', {year: 'numeric', month: '2-digit', day: '2-digit'}).
                                                      replace(/(\d+)\/(\d+)\/(\d+)/, '$1-$2-$3') + " " + today.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" }))
                                            $("input[name='date_end_BL']").datetimepicker({
                                              format: 'd-m-Y H:i'
                                            }
                                            );
                                          });
                                          $("input[name='date_end_BL']").val($("input[name='date_end_BL']").val().substring(0,16).replace('\/', '-').replace('\/', '-'))
                                        </script>
                                        <label for="id_date_end">Date de fin</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-secondary" name="stat_BL" onclick="refreshBLStat(this)">Visualiser</button>
                            </form>
                        </div>
                        <div class="col-12 m-3">
                            {{ ArticlesBl|json_script:"data1" }}
                            <table
                                    id="table"
                                    data-show-footer="true"
                                    data-footer-style="footerStyle"
                                    data-row-style="rowStyle">
                                <thead>
                                    <th class="text-center" data-field="codouv" data-footer-formatter="codouvFooter">Ref</th>
                                    <th class="text-center" data-field="titre" >Titre</th>
                                    <th class="text-center" data-field="qtet">Quantité</th>
                                    <th class="text-center" data-field="remisepct" data-footer-formatter="remiseFooter" data-formatter="pctFormatter">Remise (%)</th>
                                    <th class="text-center" data-field="total" data-footer-formatter="totalFooter" data-formatter="priceFormatter">Total</th>
                                    <th class="text-center" data-field="totalremise" data-formatter="priceFormatter">Total remisé</th>
                                </thead>
                            </table>
<script>
  var $table = $('#table')
  var data = JSON.parse(document.getElementById('data1').textContent);
    $table.bootstrapTable({data: data})
  function refreshBLStat(t){
    form = $("#form_BL")
    data =  form.serialize()
    $(t).html("Attente de résulat")
    $.ajax({
                        url: window.location.href,
                            type:'post',
                            data: data + "&refreshBL=refreshBL",
                            dataType: 'json',
                            success: function (data) {
                                    $(t).html("Visualiser")
                                    $('#table').bootstrapTable('load', data)
                            }
                    })

  }
  function codouvFooter() {
    return 'Total sous garantie'
  }
    function remiseFooter() {
    return '100 %'
  }
  function totalFooter(data) {
    var field = this.field
    var total = 0
    $.each(data, function(key, val){
        if(val.remisepct == 100){
            total = total + val.prixunitaire * val.qtet
        }
    })
    return  Math.round(total * 100) / 100 + " €"
  }

  function footerStyle(column) {
    return {
      codouv: {
        css: {'text-transform': 'uppercase'}
      }
    }[column.field]
  }

function priceFormatter(value) {
    var valuemonnaie = Math.round(value * 100) / 100
    return valuemonnaie + " €"
  }
function pctFormatter(value) {

    return value+ " %"
  }
   function rowStyle(row, index) {
    if (row.remisepct == 100) {
      return {
              css: {
                'font-weight': 'bold'
              }
            }
    }
    return {
              css: {
                color: 'black'
              }
            }

  }
</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
    function visualiser(t){
        var $t =$(t)
        $t.html('<i class="fas fa-spinner fa-pulse"></i> Visualiser')
        var form= $t.closest("form");
        data =  form.serialize()
        if(data.includes('field')){
            data=data+'&type=bar'
        }
        $.ajax({
        url: window.location.href,
            type:'post',
            data: data,
            dataType: 'html',
            success: function (html) {
                if (data.includes("pbcause")){
                    $("#sunburst2").html(html)
                    $("#button-form2").html("Visualiser")
                }else{
                    $("#tickets_chart").html(html)
                    $.ajax({
                        url: window.location.href,
                            type:'post',
                            data: form.serialize() + "&type=sunburst",
                            dataType: 'html',
                            success: function (html) {
                                    $("#sunburst").html(html)
                            }
                    })
                    $("#button-form").html("Visualiser")
                }
            }
    })
}

function genetableau(t){
        var $t =$(t)
        $t.html('<i class="fas fa-spinner fa-pulse"></i> <i class="fas fa-table"></i> Tableau')
        var form= $t.closest("form");
        data =  form.serialize() + '&tableau=True'
        $("#sunburst2").html()
        $.ajax({
        url: window.location.href,
            type:'post',
            data: data,
            dataType: 'html',
            success: function (html) {
                $("#sunburst2").html(html).attr("tabindex",-1).focus()
                $("#buttongeneretableau").html('<i class="fas fa-table"></i> Tableau')
            }
    })
    }
    function Actionbouton_problem(t){
    if($(t).html()== 'Tout sélectionner'){
        $("input[name=probleme]").prop('checked', true)
        $(t).html('Tout déselectionner')
    }else{
        $("input[name=probleme]").prop('checked', false)
        $(t).html('Tout sélectionner')
    }
    }
        function Actionbouton_cause(t){
    if($(t).html()== 'Tout sélectionner'){
        $("input[name=cause]").prop('checked', true)
        $(t).html('Tout déselectionner')
    }else{
        $("input[name=cause]").prop('checked', false)
        $(t).html('Tout sélectionner')
    }
    }
function Actionbouton_BL(t){
    if($(t).html()== 'Tout sélectionner'){
        $("input[name=article_BL]").prop('checked', true)
        $(t).html('Tout déselectionner')
    }else{
        $("input[name=article_BL]").prop('checked', false)
        $(t).html('Tout sélectionner')
    }
    }
</script>
{%endblock%}