{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_filter %}

{% block javascript %}
<script src="{% static 'js/sav/updateDB.js' %}?{{10|randomfile}}" defer></script>
{%endblock%}

{%block Titre%}Importer depuis my.solisart{%endblock%}

{%block article%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center m-3">Import-Export entre base de données</h1>
            <ul class="nav nav-pills nav-justified m-3" id="pills-tab" role="tablist">
               <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-json-tab" data-bs-toggle="pill" data-bs-target="#convert" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fas fa-map-signs"></i><br> Générer schéma exe et/ou hydrau</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#import" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fas fa-download"></i><br> Importer depuis my.solisart</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#export" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-upload"></i><br> Exporter vers site Commercial</button>
              </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="convert" role="tabpanel" aria-labelledby="pills-home-tab">
                <h2 class="m-3">Convertir json en schema d'exe ou hydraulique, config.csv:</h2>
                <div class="input-group">
                  <input type="file" class="form-control" id="json_file" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept="application/JSON">
                  <button class="btn btn-outline-secondary api" type="button" id="hydro"><i class="fas fa-file-image"></i> Hydraulique</button>
                  <button class="btn btn-outline-secondary  api" type="button" id="exe"><i class="fas fa-file-image"></i> Exe</button>
                  <button class="btn btn-outline-secondary api" type="button" id="ficheProg"><i class="fas fa-file-csv"></i> ficheProg</button>
                  <button class="btn btn-outline-secondary api" type="button" id="config"><i class="fas fa-file-csv"></i> Config</button>
                </div>
                <div id="imageResult" class="m-3"></div>
            </div>
            <div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="pills-home-tab">
                <h2 class="m-3">Importer depuis my.solisart.fr</h2>
                <h3 class="m-3">Dernière mise à jour:</h3>
                <ul>
                    {% for t in tasks %}
                        {% if t.task_name == "ActualiseInstallation" %}
                        <li><b>Installation:</b> {{t.date_done|date:'Y-m-d H:i'}}</li>
                        {% endif%}
                        {% if t.task_name == "ActualiseUtilisateur" %}
                        <li><b>Utilisateur:</b> {{t.date_done|date:'Y-m-d H:i'}}</li>
                        {% endif%}
                        {% if t.task_name == "ActualiseAcces" %}
                        <li><b>Accès:</b> {{t.date_done|date:'Y-m-d H:i'}}</li>
                        {% endif%}
                        {% if t.task_name == "ActualiseHistorique" %}
                        <li><b>Historique:</b> {{t.date_done|date:'Y-m-d H:i'}}</li>
                        {% endif%}
                        {% if t.task_name == "ActualiseAttribut" %}
                        <li><b>Attributs:</b> {{t.date_done|date:'Y-m-d H:i'}}</li>
                        {% endif%}
                    {%endfor%}
                </ul>

                {% if request.user|has_group:'update_Since_My_Solisart' %}
                <div class="row">
                    <p>Pour récupérer les donnés depuis my.solisart.fr:
                        <ul class="list-group-numbered">
                            <li class="list-group-item">Aller sur le site: <a href="https://my.solisart.fr/MySQLAdmin/"> ici</a>, avec Utilisateur: solisart-ro et Mot de passe: XaZ1Aech</li>
                            <li class="list-group-item">Cliquer sur le + devant solisart. La liste des tables de my.solisart apparaît.</li>
                            <li class="list-group-item">Cliquer sur l'une des 4 tables à mettre à jour entre:<ul>
                                <li>acces: liste des droits acces</li>
                                <li>attribut_val: liste des informations de l'installation (proprio, adresse, ...)</li>
                                <li>installation: liste de toutes installations</li>
                                <li>utilisateur: liste de tous les utilisateurs (installateur, proprio, tech, ...)</li>
                            </ul>
                                la table apparaît sur la partie de droite de l'écran.
                            </li>
                            <li class="list-group-item">Cliquer sur l'onglet Exporter en haut de la page.</li>
                            <li class="list-group-item">Sélectionner CSV comme format d'export</li>
                            <li class="list-group-item">Cliquer sur le bouton Exécuter. un fichier .csv a être téléchargé dans votre dossier de téléchargement.</li>
                            <li class="list-group-item">Pour faire la mise à jour de la base de donnée, sélectionner le fichier à important, dans l'ordre:<ul><li>installation</li><li>utilisateur</li><li>acces</li><li>attribut_val</li></ul></li>
                        </ul>
                    </p>
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="input-group m-3">
                      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroup" aria-label="Upload" name="fichier">
                      <button class="btn btn-outline-secondary" type="submit" id="inputGroup" name="submit">Importer</button>
                    </div>
                    </form>
                </div>
                {%endif%}
            </div>
            <div class="tab-pane fade" id="export" role="tabpanel" aria-labelledby="pills-home-tab">
                <h2 class="m-3">Exporter les prix d'Herakles vers site commercial</h2>
                <button type="button" class="btn btn-secondary btn-lg m-3" onclick="exportprix()">Exporter</button>
                {% for t in tasks %}
                {% if t.task_name == "actualisePrixMySolisart" %}
                 <h3 class="m-3">Dernière mise à jour: {{t.date_done|date:'Y-m-d H:i'}}</h3>
                {% endif%}
                {% endfor%}

                <div id="resulexport" class="m-3"> </div>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed top-0 end-0">
    <div class="p-3" style="z-index: 11">
      <div id="liveToast" class="toast" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="5000">
          <div role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="{% static 'image/favicon.ico' %}" class="rounded me-2" alt="...">
              <strong class="me-auto">Solistools</strong>
              <small id="toastSmall"></small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
          </div>
      </div>
    </div>
</div>
{%endblock%}