{% extends "sav/base.html" %}
{% load crispy_forms_tags %}

{%block Titre%}Importer depuis my.solisart{%endblock%}

{%block article%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center m-3">Import-Export entre base de données</h1>
            <ul class="nav nav-pills nav-justified m-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#import" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fas fa-download"></i><br> Importer depuis my.solisart</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#export" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-upload"></i><br> Exporter vers site Commercial</button>
              </li>
            </ul>

        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="import" role="tabpanel" aria-labelledby="pills-home-tab">
                <h2 class="m-3">Importer depuis my.solisart.fr</h2>
                <form method="post" enctype="multipart/form-data">
                    <div class="input-group m-3">
                      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroup" aria-label="Upload" name="fichier">
                      <button class="btn btn-outline-secondary" type="submit" id="inputGroup">Importer</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="export" role="tabpanel" aria-labelledby="pills-home-tab">
                <h2 class="m-3">Exporter les prix d'Herakles vers site commercial</h2>
                <button type="button" class="btn btn-secondary btn-lg m-3" onclick="exportprix()">Exporter</button>
                <div id="resulexport" class="m-3"> </div>
            </div>
        </div>
    </div>
</div>
<script>
function exportprix(){
    $("#resulexport").html('<h1><i class="fas fa-sun fa-spin" style="color:yellow"></i></h1>')
    $.ajax({
                        url: window.location.href,
                            type:'post',
                            data: "exportprix=exportprix",
                            dataType: 'html',
                            success: function (html) {
                                    $("#resulexport").html(html)
                            }
                    })
}
</script>
{%endblock%}