<!DOCTYPE html>
{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_filter %}
{%block Titre%}{{title}}{%endblock%}

{% block javascript %}

<script src="{% static 'plotly2-26-0/plotly.js' %}"></script>
<script src="{% static 'js/sav/utilisateur.js' %}?{{10|randomfile}}" defer></script>

{% if util.profil_user.departement %}
<script src="{% static 'js/sav/utilisateurCommercial.js' %}?{{10|randomfile}}" defer></script>
{%endif%}

{%endblock%}

{%block article%}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3" id="ident">{{title}} {{util.profil_user.icon|safe}} {{util.profil_user.evaluation_self_star|safe}}</h1>
        </div>
    </div>
</div>
{%if util %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="installation_carte" style="height: 500px" class="m-3 img-thumbnail"></div>
        </div>
        <div class="col-4 text-center">
            <a href="https://my.solisart.fr/admin/index.php?page=editer_utilisateur&id={{util.profil_user.idsa}}" class="btn btn-outline-primary m-auto" target="_blank">
                      <img src="{% static 'image/logo-solisart.png' %}" alt="logo solisart" class="rounded mx-auto d-block">
                        lien vers mySolisArt
            </a>
            <table
                    data-toolbar="#toolbar1"
                    data-toggle="table"
                    data-search="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-show-fullscreen="true"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-pagination="true">
                <thead>
                    <th class="text-center">Installation</th>
                    <th class="text-center">Propriétaire</th>
                </thead>
                <tbody>
                    {% for inst in util.profil_user.installations %}
                    <tr>
                        <td class="text-center"><a href="{% url 'sav:installation' pk=inst.id %}">{{inst}}</a></td>
                        <td class="text-center">
                            {% if inst.proprio.id%}
                            <a href="{% url 'sav:utilisateur' pk=inst.proprio.id %}">{{inst.proprio}}</a>
                            {%else%}
                            -
                            {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endif%}
<div class="modal fade" id="ModalEvenement" tabindex="-1" aria-labelledby="ModalEvenementLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title" id="ModalEvenementLabel">Ajouter une nouvelle évaluation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form method="post">
        <div class="modal-body">
            <div class="col-6">
                <div id="div_id_date_evaluation" class="form-floating mb-3">
                    <input type="text" name="date_evaluation" value="" class="xdsoftdatetimepickerinput form-control" placeholder="date_end" required="" id="id_date_end">

                <label for="id_date_end">Date de l'évaluation</label>
                </div>
            </div>
            <div class="col-12">
                <table class="table table-success table-striped table-hover table-bordered">
                <thead>
                    <th class="text-center">Qui est jugé</th>
                    <th class="text-center">Critères</th>                  
                    <th class="text-center">Note</th>
                    <th class="text-center">Commentaires</th>
                </thead>
                <tbody>
                    {% for crit in critere%}
                    <tr>
                        <td class="align-middle text-center">{%if crit.interne%}<i class="fas fa-solar-panel"></i> Solisart{%else%}<i class="far fa-user"></i> Utilisateur{%endif%}</td>
                        <td class="align-middle">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="false" id="flexCheckDefault">
                                <input class="form-check-input" type="hidden" value="false" id="flexCheckDefault" name="checkboxCrit">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{crit}}
                                </label>
                            </div> 
                            <input type="hidden" name="critere" value="{{crit.id}}">
                        </td>
                        <td class="text-center star align-middle classChecked"><input type="hidden" name="star" value=1></td>   
                        <td class="classChecked"><textarea name="commentaire" cols="40" rows="10" class="textareaEmoji form-control" style="height: 40px; display: none;" placeholder="Commentaire" id="id_detail"></textarea></td> 
                    </tr>
                    {%endfor%}
                </tbody>
                </table>  
            </div>
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-outline-primary" id="enregister">Enregister</button>
        </div>
          </form>
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="home" aria-selected="true">Description</button>
              </li>
              {% if 'fa-tools' in util.profil_user.icon and util %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="info_herakles-tab" data-bs-toggle="tab" data-bs-target="#herakles" type="button" role="tab" aria-controls="home" aria-selected="true" onclick="infoHeraklesfunction({{util.profil_user.Client_herakles.id}})">Informations Hérakles
                    </button>
                </li>
                {% endif %}
                {%if util %}
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="historique-tab" data-bs-toggle="tab" data-bs-target="#ticket" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    <span class="m-3">
                        Ticket{% if util.profil_user.ticket_count > 1 %}s{% endif %}
                        <span class="badge rounded-pill bg-warning" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Tickets ouverts" data-bs-content="Tickets réglés">
                        {{ util.profil_user.ticket_count }}
                        </span>
                        <span class="badge rounded-pill bg-danger" tabindex="0" data-bs-container="body" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Tickets en cours" data-bs-content="Tickets qui restent à régler">
                        {{ util.profil_user.ticket_open_count }}
                        </span>
                    </span>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="eval-tab" data-bs-toggle="tab" data-bs-target="#eval" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    <span class="m-3">
                        Evaluation
                    </span>
                </button>
              </li>
              {%endif%}
                {% if util.profil_user.departement %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="ticket_commercial-tab" data-bs-toggle="tab" data-bs-target="#ticket_commercial" type="button" role="tab" aria-controls="home" aria-selected="true">Bilan SAV
                    <span class="m-3">
                        <span class="badge rounded-pill bg-warning" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Tickets ouverts" id="bagde-ticket_commercial">
                        {{ util.profil_user.commercial_ticket.count }}
                        </span>
                    </span>
                    </button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="home-tab">
                  <form id="profil_id">{% csrf_token %}
                      <input type="hidden" name="modifier_profil">
                      <button type="button"
                              class="btn btn-outline-primary visually-hidden mt-3"
                              name="modifier_profil"
                              id="modifier_profil"

                      >{%if util%}Modifier{%else%}Créer{%endif%}</button>
                      <div class="row">
                          <div class="col-12">
                              <fieldset class="border p-2 h-100">
                                  <legend class="float-none w-auto p-2">Général</legend>
                                    {% crispy form %}
                              </fieldset >
                          </div>
                          <div class="col-12">
                              <fieldset class="border p-2 h-100">
                                  <legend class="float-none w-auto p-2">Détail</legend>
                                    {% crispy form_profil %}
                              </fieldset>
                          </div>
                          {% if request.user.is_staff and util.is_staff or not util%}
                          <div class="col-12">
                            <fieldset class="border p-2 h-100">
                                <legend class="float-none w-auto p-2">Groupe</legend>
                                  {% crispy form_group %}
                            </fieldset>
                        </div>
                        {%endif%}
                      </div>
                  </form>
              </div>
              <div class="tab-pane fade" id="herakles" role="tabpanel" aria-labelledby="home-tab">
                  <h2>Informations Herakles:</h2>
                  <div id="infoHerakles">
                      <h1><i class="fas fa-sun fa-spin" style="color:yellow"></i></h1>
                  </div>
              </div>
              <div class="tab-pane fade" id="ticket" role="tabpanel" aria-labelledby="home-tab">
                  <h2>Ticket{% if util.profil_user.ticket_count > 1 %}s{% endif %}</h2>
                  <table
        id="ticket_table"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-refresh="false"
        data-show-fullscreen="true"
        data-show-export="true"
        data-page-list="[10, 25, 50, 100, all]"
        data-pagination="true"
        data-filter-control="true"
        data-show-search-clear-button="true">
    <thead>
        <th class="text-center">Date</th>
        <th class="text-center">Installation</th>
        <th class="text-center">Etat</th>
        <th class="text-center">Techncien SAV</th>
        <th class="text-center">Problèmes</th>
        <th class="text-center">Causes</th>
        <th class="text-center">Détails</th>
    </thead>
    <tbody>
        {% for t in util.profil_user.ticket%}
        <tr>
            <td class="text-center">{{t.evenement.date}}</td>
            <td class="text-center"><a href="{% url 'sav:installation' t.evenement.installation.id %}" target="_blank">{{t.evenement.installation}}</a></td>
            <td class="text-center">{{t.icon_etat|safe}} {{t.get_etat_display}}</td>
            <td class="text-center">{{t.icon_technicien_sav|safe}}</td>
            <td class="text-center">{{t.probleme}}</td>
            <td class="text-center">{{t.cause}}</td>
            <td class="text-center">{{t.detail}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
              </div>
              <div class="tab-pane fade" id="eval" role="tabpanel" aria-labelledby="home-tab">
                <h1>Evaluation</h1>
                <button class="btn btn-outline-primary m-3" type="button" id="addEvaluation"
                data-bs-toggle="modal"
                data-bs-target="#ModalEvenement"
                data-bs-whatever="ticket"
                >Ajouter une évaluation</button>
                <div class="m-3" id="commentaire"></div>
                {{ evaluations|json_script:"evaluations" }}
                
                <div id="myDiv" class="d-flex d-none"></div>
                

              </div>
              <div class="tab-pane fade" id="ticket_commercial" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row g-3 align-items-center m-3">
                      <div class="col-12">
                        <h2>Bilan SAV sur les derniers </h2>
                      </div>
                      <div class="col-12">
                          <form>{% csrf_token %}
                          <div class="input-group mb-3">
                              <span class="input-group-text"><i class="fas fa-stopwatch"></i></span>
                              <div class="form-floating flex-grow-1">
                                  <input type="number" class="form-control" name="ticket_commercial" id="id_ticket_commercial" value="15" aria-label="Nom client" placeholder="tutu">
                                  <label for="id_ticket_commercial">Jours</label>
                              </div>
                              <span class="input-group-text">Jours</span>
                              <button class="btn btn-outline-secondary" type="button" id="button-ticket_commercial" >Visualiser</button>
                          </div>
                          </form>
                      </div>
                  </div>
                  <table id="table"
        data-toggle="table"
        data = t_json
        data-search="true"
        data-show-fullscreen="true"
        data-show-export="true"
        data-export-types="['csv']"
        data-export-data-type="all"
        data-sortable="true"
        data-pagination="true"
        data-page-list="[10, 25, 50, 100, 200, All]"
        data-filter-control="true"
  data-show-search-clear-button="true"
data-sort-table="true"
data-buttons-align="right">

    <thead>
        <th class="text-center" data-field="date" data-filter-control="select" data-sortable="true">Date</th>
        <th class="text-center" data-field="installation_link" data-filter-control="input" data-sortable="true">Installation</th>
        <th class="text-center" data-field="forme" data-filter-control="input" data-sortable="true">Forme</th>
        <th class="text-center" data-field="etat" data-filter-control="input" data-sortable="true">Etat</th>
        <th class="text-center" data-field="installateur_link" data-filter-control="select" data-sortable="true">Utilisateur</th>
        <th class="text-center" data-field="probleme" data-filter-control="select" data-sortable="true">Problèmes</th>
        <th class="text-center" data-field="cause" data-filter-control="select" data-sortable="true">Causes</th>
        <th class="text-center" data-field="detail" data-filter-control="input" data-sortable="true">Details</th>
        <th class="text-center" data-field="fichier" data-filter-control="input" data-sortable="true">Fichiers</th>
    </thead>

</table>

              </div>
            </div>
        </div>
    </div>
</div>

{{util.profil_user.geolocalisation_installations|json_script:'geo_instals'}}
{{util.profil_user.geolocalisation|json_script:'geo_user'}}
{{util.profil_user.user.get_full_name|json_script:'user'}}
{%endblock%}