<!DOCTYPE html>
{% extends "sav/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_filter %}
{%block Titre%}{{title}}{%endblock%}

{% block javascript %}
<script src="{% static 'plotly2-26-0/plotly.js' %}"></script>
{%endblock%}

{%block article%}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center m-3">{{title}} {{util.profil_user.icon|safe}} {{util.profil_user.evaluation_self_star|safe}}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="installation_carte" style="height: 500px" class="m-3"></div>
        </div>
        <div class="col-4 text-center">
            <a href="https://my.solisart.fr/admin/index.php?page=editer_utilisateur&id={{util.profil_user.idsa}}" class="btn btn-outline-primary m-auto" target="_blank">
                      <img src="{% static 'image/logo-solisart.png' %}" alt="logo solisart" class="rounded mx-auto d-block">
                        lien vers mySolisArt
            </a>
            <table
                    data-toolbar="#toolbar1"
                    data-toggle="table"
                    data-search="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-show-fullscreen="true"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-pagination="true">
                <thead>
                    <th class="text-center">Installation</th>
                    <th class="text-center">Propriétaire</th>
                </thead>
                <tbody>
                    {% for inst in util.profil_user.installations %}
                    <tr>
                        <td class="text-center"><a href="{% url 'sav:installation' pk=inst.id %}">{{inst}}</a></td>
                        <td class="text-center">{% if inst.proprio%}
                            {% for p in inst.profil_user.proprio %}
                            <a href="{% url 'sav:utilisateur' pk=p.id %}">{{p}}{{p.icon}}</a>
                            {% if not forloop.last %}<br>{%endif%}
                            {%endfor%}
                            {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEvenement" tabindex="-1" aria-labelledby="ModalEvenementLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title" id="ModalEvenementLabel">Ajouter une nouvelle évaluation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form method="post">
        <div class="modal-body">
            <div class="col-6">
                <div id="div_id_date_evaluation" class="form-floating mb-3">
                    <input type="text" name="date_evaluation" value="" class="xdsoftdatetimepickerinput form-control" placeholder="date_end" required="" id="id_date_end">
                <script>
                  $(function () {
                    var today = new Date();
                    var date = (today.getDate())+'-'+(today.getMonth()+1)+ '-'+ today.getFullYear();
                     $("input[name='date_evaluation']").val(today.
                              toLocaleString('fr-fr', {year: 'numeric', month: '2-digit', day: '2-digit'}).
                              replace(/(\d+)\/(\d+)\/(\d+)/, '$1-$2-$3'))
                    $("input[name='date_evaluation']").datetimepicker({
                      format: 'd-m-Y'
                    }
                    );
                  });
                  $("input[name='date_evaluation']").val($("input[name='date_evaluation']").val().substring(0,10).replace('\/', '-').replace('\/', '-'))
                </script>
                <label for="id_date_end">Date de l'évaluation</label>
                </div>
            </div>
            <div class="col-12">
                <table class="table table-success table-striped table-hover table-bordered">
                <thead>
                    <th class="text-center">Qui est jugé</th>
                    <th class="text-center">Critères</th>                  
                    <th class="text-center">Note</th>
                    <th class="text-center">Commentaires</th>
                </thead>
                <tbody>
                    {% for crit in critere%}
                    <tr>
                        <td class="align-middle text-center">{%if crit.interne%}<i class="fas fa-solar-panel"></i> Solisart{%else%}<i class="far fa-user"></i> Utilisateur{%endif%}</td>
                        <td class="align-middle">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="false" id="flexCheckDefault">
                                <input class="form-check-input" type="hidden" value="false" id="flexCheckDefault" name="checkboxCrit">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{crit}}
                                </label>
                            </div> 
                            <input type="hidden" name="critere" value="{{crit.id}}">
                        </td>
                        <td class="text-center star align-middle classChecked"><input type="hidden" name="star" value=1></td>   
                        <td class="classChecked"><textarea name="commentaire" cols="40" rows="10" class="textareaEmoji form-control" style="height: 40px; display: none;" placeholder="Commentaire" id="id_detail"></textarea></td> 
                    </tr>
                    {%endfor%}
                </tbody>
                </table>
            
            <script>
                $('table tr td.classChecked').on("click", function(){
                    if (!$(this).closest("tr").find("input[type=checkbox]").is(':checked')){
                        $(this).closest("tr").find("input[type=checkbox]").prop('checked', true)
                        $(this).closest("tr").find("input[type=checkbox]").parent().find("input").val(true)
                    }
                })
                $("table").find("input[type=checkbox]").on("click", function(){
                    if ($(this).is(':checked')){
                        $(this).parent().find("input").val(true)
                    }else{
                        $(this).parent().find("input").val(false)
                    }

                })
                $('.star').append('<i class="fas fa-star star0 fullStar" style="color:yellow"></i><i class="far fa-star star1" style="color:yellow"></i><i class="far fa-star star2" style="color:yellow"></i><i class="far fa-star star3" style="color:yellow"></i><i class="far fa-star star4" style="color:yellow"></i>')
                $('.star').click(function() {                
                    var $t = $(this)
                    var t = event.target
                    var j = true
                    if ($(t).is("path")){
                        t = $(t).parent()
                    }
                    if(! $(t).is('td')){
                        starNumber = ""
                        var svg_list = $(this).find("svg")
                        $.each($(t).attr("class").split(/\s+/), function(index, value){
                            switch (value){
                                case 'star0':
                                    starNumber = 0
                                    console.log($t.find(".fullStar").length)
                                    if($t.find(".fullStar").length == 1){
                                        j=false
                                        $t.html("")
                                        $t.append('<input type="hidden" name="star" value="0">')
                                    }else{
                                        $t.html("")
                                    }
                                    break;
                                case 'star1':
                                    starNumber = 1 
                                    $t.html("")  
                                    break; 
                                case 'star2':
                                    starNumber = 2  
                                    $t.html("") 
                                    break;
                                case 'star3':
                                    starNumber = 3  
                                    $t.html("") 
                                    break;
                                case 'star4':
                                    starNumber = 4  
                                    $t.html("") 
                                    break;
                            }
                        })
                        $.each(svg_list, function(i, v){
                            var intre = i + 1
                            if(j){
                                $t.append('<i class="fas fa-star fullStar star'+ i+'" style="color:yellow"></i>')
                                if(i == starNumber){
                                    $t.append('<input type="hidden" name="star" value="'+ intre +'">')
                                    j = false
                                }
                            }else{
                                    $t.append('<i class="far fa-star star'+ i+'" style="color:yellow"></i>')
                            }
                        })
                    }
                })
            </script>
            </div>
                
                <script>$(document).ready(function() {$(".textareaEmoji").emojioneArea({});});</script>

        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-outline-primary" id="enregister">Enregister</button>
          <script>
            $("#enregister").on("click", function(){
                var form = $(this).closest("form");
                            $.ajax({
                                    url: window.location.href,
                                    type:'post',
                                    data: form.serialize(),
                                    dataType: 'json',
                                    success: function (data) {
                                    //todo faire un message de validation
                                    location.reload()
                                    }
                            })
            })
          </script>
        </div>
          </form>
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="home" aria-selected="true">Description</button>
              </li>
              {% if 'fa-tools' in util.profil_user.icon %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="info_herakles-tab" data-bs-toggle="tab" data-bs-target="#herakles" type="button" role="tab" aria-controls="home" aria-selected="true" onclick="infoHeraklesfunction({{util.profil_user.Client_herakles.id}})">Informations Hérakles
                    </button>
                </li>
                {% endif %}
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="historique-tab" data-bs-toggle="tab" data-bs-target="#ticket" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    <span class="m-3">
                        Ticket{% if util.profil_user.ticket_count > 1 %}s{% endif %}
                        <span class="badge rounded-pill bg-warning" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Tickets ouverts" data-bs-content="Tickets réglés">
                        {{ util.profil_user.ticket_count }}
                        </span>
                        <span class="badge rounded-pill bg-danger" tabindex="0" data-bs-container="body" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Tickets en cours" data-bs-content="Tickets qui restent à régler">
                        {{ util.profil_user.ticket_open_count }}
                        </span>
                    </span>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="eval-tab" data-bs-toggle="tab" data-bs-target="#eval" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    <span class="m-3">
                        Evaluation
                    </span>
                </button>
              </li>
                {% if util.profil_user.departement %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="ticket_commercial-tab" data-bs-toggle="tab" data-bs-target="#ticket_commercial" type="button" role="tab" aria-controls="home" aria-selected="true">Bilan SAV
                    <span class="m-3">
                        <span class="badge rounded-pill bg-warning" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Tickets ouverts" id="bagde-ticket_commercial">
                        {{ util.profil_user.commercial_ticket.count }}
                        </span>
                    </span>
                    </button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="home-tab">
                  <h2>Description:</h2>
                  <form id="profil_id">{% csrf_token %}
                      <input type="hidden" name="modifier_profil">
                      <button type="button"
                              class="btn btn-outline-primary visually-hidden"
                              name="modifier_profil"
                              id="modifier_profil"

                      >Modifier</button>
                      <div class="row">
                          <div class="col-6">
                              <fieldset class="border p-2 h-100">
                                  <legend class="float-none w-auto p-2">Général</legend>
                                    {% crispy form %}
                              </fieldset >
                          </div>
                          <div class="col-6">
                              <fieldset class="border p-2 h-100">
                                  <legend class="float-none w-auto p-2">Détail</legend>
                                    {% crispy form_profil %}
                              </fieldset>
                          </div>
                      </div>
                      <script>
                          $("form#profil_id :input").on("input", function(){
                            $("button[name='modifier_profil']").removeClass('visually-hidden')
                          })
                          $("button[name='modifier_profil']").on("click", function(){
                            var $this = $(this)
                            $this.html('En cours de modification')
                            var form = $(this).closest("form");
                            $.ajax({
                                    url: window.location.href,
                                    type:'post',
                                    data: form.serialize(),
                                    dataType: 'json',
                                    success: function (data) {
                                    //todo faire un message de validation
                                        $this.html('Modifier')
                                    }
                            })
                          })
                      </script>
                  </form>
              </div>
              <div class="tab-pane fade" id="herakles" role="tabpanel" aria-labelledby="home-tab">
                  <h2>Informations Herakles:</h2>
                  <div id="infoHerakles">
                      <h1><i class="fas fa-sun fa-spin" style="color:yellow"></i></h1>
                  </div>
              </div>
              <div class="tab-pane fade" id="ticket" role="tabpanel" aria-labelledby="home-tab">
                  <h2>Ticket{% if util.profil_user.ticket_count > 1 %}s{% endif %}</h2>
                  <table
        id="ticket_table"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-refresh="false"
        data-show-fullscreen="true"
        data-show-export="true"
        data-page-list="[10, 25, 50, 100, all]"
        data-pagination="true"
        data-filter-control="true"
        data-show-search-clear-button="true">
    <thead>
        <th class="text-center">Date</th>
        <th class="text-center">Installation</th>
        <th class="text-center">Etat</th>
        <th class="text-center">Techncien SAV</th>
        <th class="text-center">Problèmes</th>
        <th class="text-center">Causes</th>
        <th class="text-center">Détails</th>
    </thead>
    <tbody>
        {% for t in util.profil_user.ticket%}
        <tr>
            <td class="text-center">{{t.evenement.date}}</td>
            <td class="text-center"><a href="{% url 'sav:installation' t.evenement.installation.id %}" target="_blank">{{t.evenement.installation}}</a></td>
            <td class="text-center">{{t.icon_etat|safe}} {{t.get_etat_display}}</td>
            <td class="text-center">{{t.icon_technicien_sav|safe}}</td>
            <td class="text-center">{{t.probleme}}</td>
            <td class="text-center">{{t.cause}}</td>
            <td class="text-center">{{t.detail}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
              </div>
              <div class="tab-pane fade" id="eval" role="tabpanel" aria-labelledby="home-tab">
                <h1>Evaluation</h1>
                <button class="btn btn-outline-primary m-3" type="button" id="addEvaluation"
                data-bs-toggle="modal"
                data-bs-target="#ModalEvenement"
                data-bs-whatever="ticket"
                >Ajouter une évaluation</button>
                {{ evaluations|json_script:"evaluations" }}
                {%if evaluations%}
                <div id="myDiv" class="d-flex"></div>
                {%endif%}
                <script>
                    const evaluations = JSON.parse(document.getElementById('evaluations').textContent);
                    var dataChart = {}
                    $.each(evaluations, function(idx, x){
                        var crit = x.critere
                        var note=''
                        for (let i = 0; i < x.note; i++) {
                            note += "&#11088;";
                        }
                        if (x.note == 0){
                            x.note = 0.5
                            note='<span style="font-size:200%;color:yellow;">&#9734;</span>'

                        }
                        if (!dataChart.hasOwnProperty(crit)){
                            dataChart[crit]={
                                'x': ['Date: ' + x.date.slice(0, 10)],
                                'y': [x.note],
                                'commentaire':[crit + ': ' + note + '<br>Commentaire: ' + x.commentaire],
                                'text': [crit]
                            }                            
                        }else{
                            dataChart[crit]['x'].push('Date: ' + x.date.slice(0, 10))
                            dataChart[crit]['y'].push(x.note)
                            dataChart[crit]['commentaire'].push(crit + ': ' + note + '<br>Commentaire: ' + x.commentaire)
                            dataChart[crit]['text'].push(crit)
                        }
                    })
                    data=[]
                    for (var key in dataChart){
                        data.push(
                            {
                                x : dataChart[key]['x'],
                                y: dataChart[key]['y'],
                                type: 'bar',
                                name: key,
                                text: dataChart[key]['text'],
                                hovertemplate: dataChart[key]['commentaire'],
                                textangle: 90,
                                marker: {
                                        opacity: 0.7,
                                        line: {
                                        width: 1.5
                                        }
                                    }
                            }
                        )
                        
                    }
                    var layout = {
                    title: 'Evolution des évaluations',
                    xaxis: {
                        title:{
                            text: 'Date'
                        },
                        tickangle: -45
                    },
                    yaxis: {
                        title: {
                            text: '&#127775;'
                        }
                    },
                    barmode: 'group'
                    };
                    Plotly.newPlot('myDiv', data, layout);
                </script>
              </div>
              <div class="tab-pane fade" id="ticket_commercial" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row g-3 align-items-center m-3">
                      <div class="col-12">
                        <h2>Bilan SAV sur les derniers </h2>
                      </div>
                      <div class="col-12">
                          <form>{% csrf_token %}
                          <div class="input-group mb-3">
                              <span class="input-group-text"><i class="fas fa-stopwatch"></i></span>
                              <div class="form-floating flex-grow-1">
                                  <input type="number" class="form-control" name="ticket_commercial" id="id_ticket_commercial" value="15" aria-label="Nom client" placeholder="tutu">
                                  <label for="id_ticket_commercial">Jours</label>
                              </div>
                              <span class="input-group-text">Jours</span>
                              <button class="btn btn-outline-secondary" type="button" id="button-ticket_commercial" >Visualiser</button>
                          </div>
                          </form>
                      </div>
                  </div>
                  <table id="table"
        data-toggle="table"
        data = t_json
        data-search="true"
        data-show-fullscreen="true"
        data-show-export="true"
        data-export-types="['csv']"
        data-export-data-type="all"
        data-sortable="true"
        data-pagination="true"
        data-page-list="[10, 25, 50, 100, 200, All]"
        data-filter-control="true"
  data-show-search-clear-button="true"
data-sort-table="true"
data-buttons-align="right">

    <thead>
        <th class="text-center" data-field="date" data-filter-control="select" data-sortable="true">Date</th>
        <th class="text-center" data-field="installation_link" data-filter-control="input" data-sortable="true">Installation</th>
        <th class="text-center" data-field="forme" data-filter-control="input" data-sortable="true">Forme</th>
        <th class="text-center" data-field="etat" data-filter-control="input" data-sortable="true">Etat</th>
        <th class="text-center" data-field="installateur_link" data-filter-control="select" data-sortable="true">Utilisateur</th>
        <th class="text-center" data-field="probleme" data-filter-control="select" data-sortable="true">Problèmes</th>
        <th class="text-center" data-field="cause" data-filter-control="select" data-sortable="true">Causes</th>
        <th class="text-center" data-field="detail" data-filter-control="input" data-sortable="true">Details</th>
        <th class="text-center" data-field="fichier" data-filter-control="input" data-sortable="true">Fichiers</th>
    </thead>

</table>

              </div>
            </div>
        </div>
    </div>
</div>
{% if util.profil_user.departement %}
<script>
var t_json=[]
$("#button-ticket_commercial").on("click", function(){
    var form = $(this).closest("form");
    $.ajax({
        url: window.location.href,
        type:'post',
        data: form.serialize(),
        dataType: 'html',
        success: function (data) {
             t_json= JSON.parse(data)
             var ticket_commercial_count = t_json.length
             $("#bagde-ticket_commercial").html(ticket_commercial_count )
              $('#table').bootstrapTable('load',  t_json )
                $(function() {
    $('#table').bootstrapTable()
  })
        }
    })
})
$("#button-ticket_commercial").click()
</script>
{%endif%}
<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
</script>
<script>
const fontAwesomeIcon = L.divIcon({
    html: '<span class="fa-layers fa-fw fa-4x" style="vertical-align: top;"><i class="fas fa-map-marker text-primary" style="color:black"></i><i class="fas fa-solar-panel fa-inverse" data-fa-transform="shrink-10"></i></span>',
    iconSize: [20, 20],
    iconAnchor: [30, 40],
    className: 'myDivIcon'
});
const fontAwesomeIconInstallateur = L.divIcon({
    html: '<i class="fas fa-map-marker-alt text-danger fa-4x"></i>',
    iconSize: [20, 20],
    iconAnchor: [30, 40],
    className: 'myDivIcon'
});
const mymap = L.map('installation_carte',{
        center:[45, 0],
        zoom:6
        });
            L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{maxZoom: 20,subdomains:['mt0','mt1','mt2','mt3']}).addTo(mymap);
                    {%for t in util.profil_user.installations%}
                    {% if t.coordonnee_GPS.valeur and t.coordonnee_GPS.valeur != "nan" and t.coordonnee_GPS.valeur != "None"%}
                    L.marker([{{t.coordonnee_GPS.valeur}}],{ icon: fontAwesomeIcon}).addTo(mymap)
                        .bindPopup("<a href='{% url 'sav:installation' pk=t.id%}' ><b>{{t}}-{{t.proprio.0}}</b></a>")
                  {%endif%}
                  {%endfor%}
                  {% if util.profil_user.geolocalisation %}
                  L.marker({{util.profil_user.geolocalisation}},{ icon: fontAwesomeIconInstallateur}).addTo(mymap)
                   .bindPopup("<b>{{util}}</b>")
                  {%endif %}

var arrayOfMarkers=[
{% if util.profil_user.geolocalisation %}{{util.profil_user.geolocalisation}},{%endif %}
{%for t in util.profil_user.installations%}

                    {% if t.coordonnee_GPS.valeur and t.coordonnee_GPS.valeur != "nan" and t.coordonnee_GPS.valeur != "None"%}
                    [{{t.coordonnee_GPS.valeur}}]
                  {%endif%}
                  {% if not forloop.last %},{%endif%}
                  {%endfor%}
]
var bounds = new L.LatLngBounds(arrayOfMarkers);
mymap.fitBounds(bounds)
</script>
<script>
function infoHeraklesfunction(id){
    $.ajax({
                 url: window.location.href,
                 data: {'herakles': ''},
                 dataType: 'html',
                 type: 'post',
                 success: function (data) {
                    $("#infoHerakles").html(data)
                 }
            })
}
</script>
{%endblock%}