<!DOCTYPE html>
<html>
{% load static %}
{% load my_filter %}
{% load i18n %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
        <!-- for jquery -->
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1/jquery-ui.css' %}">

     <!-- for fontawesome -->
<!--    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.2-web/css/all.css' %}">
    <script  src="{% static 'fontawesome-free-5.15.2-web/js/all.min.js' %}"></script>

    <!--Bootstrap5-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>

    <!--page script-->
  <script src="{% static 'js/sav/base.js' %}?{{10|randomfile}}" defer></script>
  <link rel="stylesheet" href="{% static 'css/sav/base.css' %}?{{10|randomfile}}">
  <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />

    <title>{% block Titre %}SolisArt{% endblock %}</title>

</head>
<style>
.not-allowed{
 cursor: not-allowed! important;
}
html {
  height: 100%;
}
body{
            min-height: 100%;
            background: white url("/static/sav/photos/Logo_Graph.png") no-repeat;
            background-position: center;
            margin-left: auto;
            margin-right: auto;

            }
</style>
<body>
<!-- Button trigger modal -->
<div class="container">
    <div class="row"><br><br><br>
    </div>
    <div class="row">
            <div class="col-sm-12 text-center m-2">
                <button id="BackHome" class="btn btn-outline-primary" onclick="location.href='{%url 'sav:home'%}'"><i class="fa fa-step-backward" aria-hidden="true"></i> Retour à la page d'accueil</button>
        <div class="row">
            <div class="col-sm-12 text-center m-2">
                <button id="Refresh" class="btn btn-outline-primary" onClick="window.location.reload();"><i class="fas fa-sync-alt"></i> Rafraîchir</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center m-2">
                <button id="Comeback" class="btn btn-outline-primary" onClick="document.getElementById('modalstart').click();"><i class="fas fa-redo-alt"></i> Retour</button>
            </div>
        </div>
</div>

<!-- Modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalstart" style="display:none">
  Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog {% block modal_size %}{% endblock %}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% block Titre_Modal %}SolisArt{% endblock %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% block frame %}{% endblock %}
      </div>
    </div>
  </div>
</div>

<script>
    document.getElementById('modalstart').click()
</script>

</body>
</html>