<!DOCTYPE html>
<html lang="fr">
{% extends "registration/Base_PW.html" %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    {% block Titre %}Authentification{% endblock %}

</head>
{% block Titre_Modal %}Authentification{% endblock %}
{% block frame %}


    {% if user.is_authenticated %}
    Vous êtes connectés {{ user.first_name }} !
    <a href="">Cliquer ici pour démarrer</a>
    {% else %}
{%if not 'Chrome' in request.META.HTTP_USER_AGENT%}
<h2>Nous garantissons un fonctiennement optinal avec Google Chrome.</h2>
{%endif%}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if error %}
    <p><strong>Mauvaise mot de passe passe.</strong></p>
    {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success text-right" id="connect">Connecter</button>
            </form><br>
            <a href="/password_reset/" class="text-right">Mot de passe oublié?</a>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}


</html>