<!DOCTYPE html>
{% extends "registration/Base_PW.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block Titre %}Changement de mot de passe{% endblock %}
</head>
<body>

{% block  frame %}
  <p>
      Un email vient de vous être adresser, suiver les instructions pour réinitialiser votre mot de passe, si votre compte existe avec un email.
  </p>
  <p>
      SI vous n'avez par reçu d'email, s'il vou splait vériifer dans votre dossier de spam.
  </p>
{% endblock %}

</body>
</html>