<meta charset="UTF-8">
{% load static %}
{% load my_filter %}

<table
        id="client_heracles_table"
        class="table table-striped table-bordered"
>
    <thead>
        <th class="text-center">Intitulé</th>
        <th class="text-center">Valeur</th>
    </thead>
    <tbody>
        {% for key, value in client.items %}
            {% if key in '1 code client,3 nom,4 adresse 1,5 adresse 2,6 cp,7 ville pays,email' %}
            <tr>
                <td class="text-center">{{ key }}</td>
                <td class="text-center">{{ value }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
