{% load crispy_forms_tags %}
<div class="mb-3" id="add_evenement_modal">
                                {% crispy add_evenement %}
                              </div>
                                <div id="ticket_modal" name="modal_form">
                                {% crispy add_ticket_form %}
                                </div>
                                <div id="noncompliance" class="d-none">
                                  {% crispy noncompliance_form %}
                                </div>
<script>
  function displayNonCompliance(){
    if($("#InputNoncompliance").is(':checked'))
      $('#noncompliance').fadeIn(1000).removeClass('d-none')
    else{
      $('#noncompliance').fadeOut(1000)
    }
  }
  $("#InputNoncompliance").on('change', function(){
    displayNonCompliance()
  })
  displayNonCompliance()
</script>