{% load crispy_forms_tags %}
<div class="mb-3" id="add_evenement_modal">
                                {% crispy add_evenement %}
                              </div>
                                <div id="ticket_modal" name="modal_form">
                                {% crispy add_ticket_form %}
                                </div>
                                <div id="noncompliance" class="d-none">
                                  {% crispy noncompliance_form %}
                                </div>
<script>
  function displayNonCompliance(){
    if($("#InputNoncompliance").is(':checked')){
      $('#noncompliance').fadeIn(1000).removeClass('d-none')
      $('#InputNoncompliance').val("0")
    }else{
      $('#noncompliance').fadeOut(1000)
      $('#InputNoncompliance').val("")
    }
  }
  $("#InputNoncompliance").on('change', function(){
    displayNonCompliance()
  })
  displayNonCompliance()
  function deleteNCFile(id){
    var titre
    $.ajax({
      url: "/api/fichiers/" + id,
          type:'get',
          dataType: 'json',
          success: function (json) {
            if (window.confirm("Êtes-vous sûr de vouloir supprimer le fichier: " + json.titre +"?")) {
              $.ajax({
                url: "/api/fichiers/" + id,
                    type:'delete',
                    dataType: 'json',
                    success: function (json) {
                      location.reload();
                    }
              }) 
            }
          }
    })    
  }
</script>