<div class="col-6">
    <div id="div_id_date_evaluation" class="form-floating mb-3">
        <input type="text" name="date_evaluation" value="" class="xdsoftdatetimepickerinput form-control" placeholder="date_end" required="" id="id_date_end">
        <input type="hidden" value="{{user.id}}" name="profil">
    <script>
      $(function () {
        var today = new Date();
        var date = (today.getDate())+'-'+(today.getMonth()+1)+ '-'+ today.getFullYear();
         $("input[name='date_evaluation']").val(today.
                  toLocaleString('fr-fr', {year: 'numeric', month: '2-digit', day: '2-digit'}).
                  replace(/(\d+)\/(\d+)\/(\d+)/, '$1-$2-$3'))
        $("input[name='date_evaluation']").datetimepicker({
          format: 'd-m-Y'
        }
        );
      });
      $("input[name='date_evaluation']").val($("input[name='date_evaluation']").val().substring(0,10).replace('\/', '-').replace('\/', '-'))
    </script>
    <label for="id_date_end">Date de l'évaluation</label>
    </div>
</div>
<div class="col-12">
    <table class="table table-success table-striped table-hover table-bordered">
    <thead>
        <th class="text-center">Qui est jugé</th>
        <th class="text-center">Critères</th>                  
        <th class="text-center">Note</th>
        <th class="text-center">Commentaires</th>
    </thead>
    <tbody>
        {% for crit in critere%}
        <tr>
            <td class="align-middle text-center">{%if crit.interne%}<i class="fas fa-solar-panel"></i> Solisart{%else%}<i class="far fa-user"></i> Utilisateur{%endif%}</td>
            <td class="align-middle">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" id="flexCheckDefault">
                    <input class="form-check-input" type="hidden" value="false" id="flexCheckDefault" name="checkboxCrit">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{crit}}
                    </label>
                </div> 
                <input type="hidden" name="critere" value="{{crit.id}}">
            </td>
            <td class="text-center star align-middle classChecked"><input type="hidden" name="star" value=1></td>   
            <td class="classChecked"><textarea name="commentaire" cols="40" rows="10" class="textareaEmoji form-control" style="height: 40px; display: none;" placeholder="Commentaire" id="id_detail"></textarea></td> 
        </tr>
        {%endfor%}
    </tbody>
    </table>

<script>
    $('table tr td.classChecked').on("click", function(){
        if (!$(this).closest("tr").find("input[type=checkbox]").is(':checked')){
            $(this).closest("tr").find("input[type=checkbox]").prop('checked', true)
            $(this).closest("tr").find("input[type=checkbox]").parent().find("input").val(true)
        }
    })
    $("table").find("input[type=checkbox]").on("click", function(){
        if ($(this).is(':checked')){
            $(this).parent().find("input").val(true)
        }else{
            $(this).parent().find("input").val(false)
        }

    })
    $('.star').append('<i class="fas fa-star star0 fullStar" style="color:yellow"></i><i class="far fa-star star1" style="color:yellow"></i><i class="far fa-star star2" style="color:yellow"></i><i class="far fa-star star3" style="color:yellow"></i><i class="far fa-star star4" style="color:yellow"></i>')
    $('.star').click(function() {                
        var $t = $(this)
        var t = event.target
        var j = true
        if ($(t).is("path")){
            t = $(t).parent()
        }
        if(! $(t).is('td')){
            starNumber = ""
            var svg_list = $(this).find("svg")
            $.each($(t).attr("class").split(/\s+/), function(index, value){
                switch (value){
                    case 'star0':
                        starNumber = 0
                        if($t.find(".fullStar").length == 1){
                            j=false
                            $t.html("")
                            $t.append('<input type="hidden" name="star" value="0">')
                        }else{
                            $t.html("")
                        }
                        break;
                    case 'star1':
                        starNumber = 1 
                        $t.html("")  
                        break; 
                    case 'star2':
                        starNumber = 2  
                        $t.html("") 
                        break;
                    case 'star3':
                        starNumber = 3  
                        $t.html("") 
                        break;
                    case 'star4':
                        starNumber = 4  
                        $t.html("") 
                        break;
                }
            })
            $.each(svg_list, function(i, v){
                var intre = i + 1
                if(j){
                    $t.append('<i class="fas fa-star fullStar star'+ i+'" style="color:yellow"></i>')
                    if(i == starNumber){
                        $t.append('<input type="hidden" name="star" value="'+ intre +'">')
                        j = false
                    }
                }else{
                        $t.append('<i class="far fa-star star'+ i+'" style="color:yellow"></i>')
                }
            })
        }
    })
    $(document).ready(function() {$(".textareaEmoji").emojioneArea({});});
</script>