{% load static %}
{% load my_filter %}
{% load crispy_forms_tags %}
<meta charset="UTF-8">
<div class="container">
    <div class="row">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="parameter-tab" data-bs-toggle="pill" data-bs-target="#parameter" type="button" role="tab" aria-controls="parameter" aria-selected="true">Paramètre de commande</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="articles-tab" data-bs-toggle="pill" data-bs-target="#articles" type="button" role="tab" aria-controls="articles" aria-selected="false">Liste des articles</button>
          </li>
          {%if not beforeAdd %}
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="fichier-tab" data-bs-toggle="pill" data-bs-target="#fichier" type="button" role="tab" aria-controls="fichiers" aria-selected="false">Liste des fichiers</button>
          </li>
          {%endif%}
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="parameter" role="tab" aria-labelledby="parameter-tab">
                <fieldset class="border p-2 h-100">
                <legend class="float-none w-auto"><b>Paramètre de commande à Sauvegarder</b></legend>
                {% crispy formCL %}
                </fieldset>
            </div>
            <div class="tab-pane fade" id="articles" role="tab" aria-labelledby="articles-tab">
                <fieldset class="border p-2 h-100">
                <legend class="float-none w-auto"><b>Liste des articles</b></legend>
                {% for article in CLarticles %}
                    <i class='fas fa-angle-right'></i><b> {{article.qte|floatformat:"0" }} x {{article.codouv}}</b> - {{article.titre}}<br>
                {%endfor%}
            </fieldset>
            </div>
            <div class="tab-pane fade" id="fichier" role="tab" aria-labelledby="articles-tab">
                <fieldset class="border p-2 h-100 upload-zone">
                <legend class="float-none w-auto"><b>Liste des Fichiers</b></legend>
                    <p></p>
                    <button type="button" class="btn btn-outline-primary m-1" onclick="$('.fileupload').click()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter des fichiers liés</button>
                    <input class="fileupload" type="file" name="fichier" multiple
                                 style="display: none;"
                                 data-url="{{ request.get_full_path }}"
                                 data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}", "file_CL":"{{CL.id}}"}'
                              >
                    <ul>
                        {% for f in CL.fichier.all %}
                        <li><a href="{{f.fichier.url}}">{{f.icon|safe}} {{f.titre}}</a></li>
                        {%endfor%}
                    </ul>

                </fieldset>
            </div>
        </div>
    </div>
</div>
<script>
    $("#enregister").on("click", function(){
    $("#modalForm :disabled").removeAttr('disabled');
    var form= $("#enregister").closest("form")
    var d =  form.serialize() + "&" + $("#enregister").attr("name") + "=" +$("#enregister").attr("name")
    $.ajax({
                                                url: window.location.href,
                                                type:'post',
                                                data:d,
                                                dataType: 'json',
                                                success: function (json) {
                                                    console.log(json)
                                                    $("#ButtonModalclose").click()
                                                 }
                                            })
    })

$(document).on('dragover', function (e) {
    e.preventDefault();
    $('.upload-zone').on('dragover', function(event){
    if(!$(this).find('.todelete').length){
            $(this).find('p').first().after('<div class="well text-muted text-center todelete" style="padding-top: 4rem; padding-bottom: 4rem;"><i class="fa fa-arrow-down fa-4x" aria-hidden="true"></i><h3>Déposer vos fichiers ici</h3></div>')
        }
    });
    if (!$(event.target).closest('.upload-zone').length){
        $('.todelete').remove()
    }
});

$('.upload-zone').each(function () {
    var DropZone = $(this);
    var DropZone_id = DropZone[0].id.split('_')[1];
    DropZone.find('input:first').fileupload({
            dropZone: DropZone,
            dataType: 'json',
            sequentialUploads: true,

            start: function (e) {
              $("#modal-progress").modal("show");
            },

            stop: function (e) {
              $("#modal-progress").modal("hide");
            },

            progressall: function (e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);
              var strProgress = progress + "%";
              $(".progress-bar").css({"width": strProgress});
              $(".progress-bar").text(strProgress);
              if (progress == 100){
                setTimeout(function(){
                    $("#modal-progress").modal("hide");
                }, 1500);
              }
            },
            done: function (e, data) {
              $('.todelete').remove()
              console.log(e, data)
              if (data.is_valid == false){

              }else{

              }

            }
    });
});
$("#id_date_livraison, #id_date_ballon_prevu, #id_date_capteur_prevu, #id_date_montage_prevu, #id_date_prepa_carte_prevu, #id_date_prepa_prevu").on("change", function(){
    if ($(this).val()==''){
        $(this).addClass("is-invalid")
        $("#enregister").prop("disabled",true)
        if(!$(this).parent().parent().parent().find("small").length){
            $(this).parent().parent().parent().append("<small class='text-danger'>Doit être obligatoirement complété</small>")
        }
    }else{
        $(this).removeClass("is-invalid")
        $("#enregister").prop("disabled",false)
        $(this).parent().parent().parent().find("small").remove()
    }
})
$("#id_ballon").val() == "" ? $("#id_date_ballon_prevu").prop('disabled', true) : $("#id_date_ballon_prevu").prop('disabled', false)
$("#id_ballon").on("change", function(){
        $("#id_ballon").val() == "" ? $("#id_date_ballon_prevu").prop('disabled', true) : $("#id_date_ballon_prevu").prop('disabled', false)
    })
$("#id_capteur_nbre").val() == 0 ? $("#id_date_capteur_prevu").prop('disabled', true) : $("#id_date_capteur_prevu").prop('disabled', false)
$("#id_capteur_nbre").on("change", function(){
        $("#id_capteur_nbre").val() == 0 ? $("#id_date_capteur_prevu").prop('disabled', true) : $("#id_date_capteur_prevu").prop('disabled', false)
    })
$.each(['ballon', 'capteur', 'prepa_carte', 'montage', 'prepa'], function(index, value){

    $("#id_" + value).on("change", function(){
        $("#id_" + value).val() == "" ? $("#id_date_"+ value +"_prevu").prop('disabled', true) : $("#id_date_"+ value +"_prevu").prop('disabled', false)
    })
    if($("#id_date_" + value).val() == ""){
        $("#id_date_" + value).parent().append('<div class="col-1 d-flex flex-column justify-content-center"><a href="javascript:void(0)" class="'+ value +'"><i class="far fa-circle fa-lg align-middle fa-3x text-danger"></i></a></div>')
    }else{
         $("#id_date_" + value).parent().append('<div class="col-1 d-flex flex-column justify-content-center"><a href="javascript:void(0)" class="'+ value +'"><i class="align-middle far fa-check-circle text-success fa-3x"></i></a></div>')
    }
    $("." + value).on('click', function(){
        if($($(this).find("svg")[0]).hasClass("text-success")){
            $(this).html('<i class="far fa-circle fa-lg align-middle fa-3x text-danger"></i>')
            $("#id_date_" + value).val("")
        }else{
            $(this).html('<i class="align-middle far fa-check-circle text-success fa-3x"></i>')
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = dd + '-' + mm + '-' + yyyy;
            $("#id_date_" + value).val(today)
        }
    })
})
</script>



