{% load static %}
{% load my_filter %}
{% load crispy_forms_tags %}
<meta charset="UTF-8">

<!--<h2>Client: {{codechantier.0.t601_12_code_client}}</h2>-->
<!--<input type="hidden" value="{{codechantier.0.t601_12_code_client}}" name="installateur">-->
<!--<h2>Affaire: {{codechantier.0.t601_2_titre_du_chantier}}</h2>-->
<!--<input type="hidden" value="{{codechantier.0.t601_2_titre_du_chantier}}" name="information">-->
<div class="container">
    <div class="row">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="parameter-tab" data-bs-toggle="pill" data-bs-target="#parameter" type="button" role="tab" aria-controls="parameter" aria-selected="true">Paramètre de commande</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="articles-tab" data-bs-toggle="pill" data-bs-target="#articles" type="button" role="tab" aria-controls="articles" aria-selected="false">Liste des articles</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="parameter" role="tab" aria-labelledby="parameter-tab">
                <fieldset class="border p-2 h-100">
                <legend class="float-none w-auto"><b>Paramètre de commande à Sauvegarder</b></legend>
                {% crispy formCL %}
                </fieldset>
            </div>
            <div class="tab-pane fade" id="articles" role="tab" aria-labelledby="articles-tab">
                <fieldset class="border p-2 h-100">
                <legend class="float-none w-auto"><b>Liste des articles</b></legend>
                {% for article in CLarticles %}
                    <i class='fas fa-angle-right'></i><b> {{article.qte|floatformat:"0" }} x {{article.codouv}}</b> - {{article.titre}}<br>
                {%endfor%}
            </fieldset>
            </div>
        </div>
    </div>
</div>



