{% load static %}
{% load my_filter %}
    <meta charset="UTF-8">
        <!-- for jquery -->
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1/jquery-ui.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-table-master/dist/bootstrap-table.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-table-master/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css' %}">
    <script src="{% static 'bootstrap-table-master/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/tableExport.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/dist/extensions/export/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/ajax_lib/jquery.tablednd.min.js' %}"></script>
{%if utilisateurs %}
<h2>Utilisateur{% if utilisateurs|length > 1 %}s{%endif%}</h2>
<table id="utilisateur"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-refresh="false"
        data-show-fullscreen="true"
        data-show-export="true"
        data-page-list="[10, 25, 50, 100, all]"
        data-pagination="true"
        data-filter-control="true"
        data-show-search-clear-button="true">
    <thead>
        <th class="text-center">Prenom</th>
        <th class="text-center">Nom</th>
        <th class="text-center">adresse mail</th>
        <th class="text-center">Téléphone 1</th>
        <th class="text-center">Téléphone 2</th>
        <th class="text-center">Tickets(en cours/total)</th>
    </thead>
    <tbody>
        {% for u in utilisateurs %}
        <tr>
            <td class="text-center"><a href="{% url 'sav:utilisateur' pk=u.id%}" target="_blank">{{u.first_name}}</a></td>
            <td class="text-center"><a href="{% url 'sav:utilisateur' pk=u.id%}" target="_blank">{{u.last_name}}</a></td>
            <td class="text-center">{{u.email}}</td>
            <td class="text-center">{{u.profil_user.telephone1|format_tel}}</td>
            <td class="text-center">{{u.profil_user.telephone2|format_tel}}</td>
            <td class="text-center">{{u.profil_user.ticket_open_count}}/{{u.profil_user.ticket_count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%else%}
<h2 class="text-danger">Pas d'utilisateur trouvé</h2>
{%endif%}

{% if table %}
<h2>Installation{% if table|length > 1 %}s{%endif%}</h2>
<table
        id="installation"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-refresh="false"
        data-show-fullscreen="true"
        data-show-export="true"
        data-page-list="[10, 25, 50, 100, all]"
        data-pagination="true"
        data-filter-control="true"
        data-show-search-clear-button="true">
    <thead>
        <th class="text-center">ID SA</th>
        <th class="text-center">Code Postal</th>
        <th class="text-center">Commune</th>
        <th class="text-center">Utilisateurs</th>
        <th class="text-center">Tickets(en cours/total)</th>
    </thead>
    <tbody>
        {% for i in table %}
        <tr>
            <td class="text-center"><a href="{% url 'sav:installation' i.id %}" target="_blank">{{i.idsa}} {%if i.departement %}({{i.departement}}){%endif%}</a></td>
            <td class="text-center">{%if i.codePostale%}{{i.codePostale}}{%else%}-{%endif%}</td>
            <td class="text-center">{%if i.commune%}{{i.commune}}{%else%}-{%endif%}</td>
            <td>
                <ul>
                {% for u in i.user_acces %}
                <li><a href="{% url 'sav:utilisateur' pk=u.utilisateur.id%}" target="_blank">{{u.utilisateur.profil_user.icon|safe}} {{u.utilisateur}} {{u.utilisateur.profil_user.type_acces}}</a></li>
                {%endfor%}
                </ul>
            </td>
            <td class="text-center">{{i.ticket_open_count}}/{{i.ticket_count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%else%}
<h2 class="text-danger">Pas d'installation trouvée</h2>
{%endif%}