<!DOCTYPE html>
{% extends "helper/base.html" %}
{% load crispy_forms_tags %}
{% load my_filter %}
{% load static %}

{% block javascript %}
{%endblock%}

{%block Titre%}{{title}}{%endblock%}


{% block content %}
<div id="p5">
    <h2><u>5. Transfert entre base de donnée</u></h2>
    <p>Cette page permet de récupérer ou d'envoyer des données pour rafraichir les bases de données entre elles.</p>   
    <p>Elle comporte 3 onglets:</p> 
    <ul>
      <li><i class="fas fa-map-signs"></i> Générer schéma à partir json</li>
      <li><i class="fas fa-download"></i> Importer depuis my.solisart.fr</li>
      <li><i class="fas fa-upload"></i> Exporter vers site commercial</li>
    </ul>
</div>
<div id="p5-1">
  <h3 class="ps-3">5.1 Générer schéma à partir json</h3>
  <p>A partir du json généré sur la schémathèque en ligne, le Solistools permet de visualiser et de télécharger simultanément:
  </p>
  <ul>
    <li>En cliquant sur hydraulique: le schéma hydraulique </li>
    <li>En cliquant sur Exe: le schéma de connexion du module</li>
    <li>En cliquant sur fiche de prod : la fiche de production</li>
    <li>En cliquant config: le fichier csv injectable directement à une installation.</li>
  </ul>
  <p>Dans le dernier cas, pour personnaliser l'installation, il faut ouvrir le fichier csv, et remplacer dans la ligne 3, ADefinir
     par le numéro de l'installation (SC2M202....) et ligne 4 install par le nom du pripriétaire en majuscule (DUPONT).
  </p>
</div>
<div id="p5-2">
  <h3 class="ps-3">5.2 Importer depuis my.solisart.fr</h3>
  <p>Cet onglet permet de connaître la dernière mise à jour de la base de données du Solistools par my.solisart</p>
  <p>Pour les personnes ayants droit:</p>
  <ul>
    {% for ad in admins %}
    <li>{{ad}}</li>
    {%endfor%}
  </ul>
  <p> il permet de faire les importations d'une base à l'autre</p>
</div>
<div id="p5-3">
  <h3 class="ps-3">5.3 Exporter vers site commercial</h3>
  <p>Cet onglet permet de faire la mise à jour de la base de données du site de devis en ligne avec Héraklès. Cela sert à actualiser les prix.</p>
</div>
{%endblock%}

{% block script %}
document.getElementById('p5').scrollIntoView({behavior: 'smooth'});
{%endblock%}